<div class="modal-content">
    <div class="modal-header">
    </div>
    <div class="modal-body body">
        <div class="search">
            <div class="form-group col col-7">
                <label>SKU</label>
                <input type="text" name="search[sku]" placeholder="Wprowadź tekst"/>
            </div>
            <div class="form-group col col-13">
                <label>Nazwa produktu</label>
                <input type="text" name="search[name]" placeholder="Wprowadź tekst"/>
            </div>
        </div>
        <div class="body">
            <div ng-click="modal.select(product)" ng-repeat="product in modal.products" class="table-row">
                <div class="col col-20">{{product.name}}</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="modal.accept()">Usuń</button>
        <button type="button" class="btn btn-default" ng-click="modal.cancel()">Close</button>
    </div>
</div>