<h1 style="padding: 0px 20px;"><span>Magazyn </span>{{data.werhouse.name}}</h1>
<div ng-if="data.addPrivilage||data.decPrivilage" class="buttons">
    <a href="magazyny">
        <button type="submit" class="button-add"><i class="material-icons">check_box</i>Wybór magazynu</button>
    </a>
    <form ng-if="data.addPrivilage" action="/magazyn/przyjecie" method="POST" class="mass">
        <button type="submit" class="button-add mass"><i class="material-icons">add_circle_outline</i>Przyjmij
        </button>
    </form>
    <form ng-if="data.decPrivilage" action="/magazyn/wydanie" method="POST" class="mass">
        <button type="submit" class="button-add mass"><i class="material-icons">remove_circle_outline</i>Wydaj
        </button>
    </form>
    <form ng-if="data.decPrivilage" action="/magazyn/sprzedaz" method="POST" class="mass">
        <button type="submit" class="button-add"><i class="material-icons">monetization_on</i>Sprzedaj
        </button>
    </form>
    <form action="/rezerwacja/dodaj" method="POST" class="mass">
        <button type="submit" class="button-add"><i class="material-icons">monetization_on</i>Rezerwacja
        </button>
    </form>
</div>
<div class="filters" ng-class="{'active': filters}">
    <form method="POST">
        <div class="form-group col col-5">
            <label>SKU</label>
            <input type="text" name="sku" ng-model="data.filter.sku"/>
        </div>
        <div class="form-group col col-15">
            <label>Nazwa</label>
            <input type="text" name="name" ng-model="data.filter.name"/>
        </div>
        <input type="hidden" name="action" value="filter"/>
        <button type="submit" ng-click="filter()">Filtruj</button>
    </form>
</div>
<div class="box mass">
    <div class="body">
        <span>Zaznaczone </span>
        <button name="sendToAllegro">Wystaw</button>
    </div>
</div>
<div class="table-row header no-padding">
    <div class="col col-3">SKU</div>
    <div class="col col-10">Nazwa</div>
    <div class="col col-2 text-right">Netto</div>
    <div class="col col-1 text-center">VAT</div>
    <div class="col col-2 text-right">Brutto</div>
    <div class="col col-2 text-right">Ilość</div>
</div>
<div class="container">
    <div class="row">
        <div class="werhouse content">
            <div ng-repeat="product in data.products" class="table-row no-padding select" data-id="{$product.id}">
                <div class="col col-3">{{product.sku}}</div>
                <div class="col col-10">{{product.name}}</div>
                <div class="col col-2 text-right">{{product.net}} {{data.currency}}</div>
                <div class="col col-1 text-center">{{product.tax}}</div>
                <div class="col col-2 text-right">{{product.gross}} {{data.currency}}</div>
                <div class="col col-2 text-right">{{product.count}}</div>
            </div>
        </div>
    </div>
</div>

<div class="dialog" id="sendDialog">
    <div class="container">
        <div class="header">
            <h1>Wybierz platformy</h1>
        </div>
        <div class="body">
            <div class="form-group col col-20 checkbox">
                <input type="checkbox" name="allegro" value="true"/>
                <label>Allegro</label>
            </div>
            <button type="button" name="sendButton" class="button button-lg">Wyślij</button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        modal($('#sendDialog'));

        $('[name=sendToAllegro]').click(function () {
            $('#sendDialog').addClass('visible');
        });

        var sendItems = function () {
            $.ajax({
                url: "/api/send",
                type: 'POST',
                data: {
                    id: collection
                },
            }).done(function (data) {
                $('#sendDialog').removeClass('visible');
            });
        }
        $('[name=sendButton]').click(function () {
            sendItems();
        });
    });
</script>