<div class="buttons">
    <a href="/magazyn/dodaj">
        <button type="submit" class="button-add"><i class="material-icons">add_circle_outline</i>Magazyn</button>
    </a>
</div>
<div ng-if="data.werhouses" class="table-row header no-padding">
    <div class="col col-10">Nazwa</div>
</div>
<div class="container" ng-controller="werhousesController">
    <div class="row">
        <div class="werhouses content">
            <div ng-repeat="werhouse in data.werhouses" class="table-row no-padding">
                <div class="col col-10">{{werhouse.name}}</div>
                <div class="action">
                    <button type="button" ng-click="switch(werhouse)">Przełącz</button>
                    <a href="/magazyn/{{werhouse.sys_unique_id}}/edytuj">
                        <button type="button">Edycja</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>