<div class="container">
    <article>
        <div class="row">
            <div class="col col-xs-12">
                <div class="card">
                    <div class="title">Dane podstawowe</div>
                    <div class="form-group col col-xs-3">
                        <label>Kod kontrahenta</label>
                        <input type="text" ng-model="data.contractor.code"/>
                    </div>
                    <div class="form-group col col-xs-9">
                        <label ng-class="{'error': data.validation.name&&!data.contractor.name}">Nazwa
                            kontrahenta</label>
                        <input type="text" ng-model="data.contractor.name"
                               ng-class="{'error': data.validation.name&&!data.contractor.name}"/>
                        <p ng-if="data.validation.name&&!data.contractor.name">Wprowadź nazwę kontrahenta.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-6">
                <div class="card">
                    <div class="title">Adres korespondencyjny</div>
                    <div class="form-group col col-xs-12">
                        <label>Nazwa adresowa</label>
                        <input type="text" ng-model="data.contractor.address.name"/>
                    </div>
                    <div class="form-group col col-xs-6">
                        <label>Imię</label>
                        <input type="text" ng-model="data.contractor.address.firstName"/>
                    </div>
                    <div class="form-group col col-xs-6">
                        <label>Nazwisko</label>
                        <input type="text" ng-model="data.contractor.address.lastName"/>
                    </div>
                    <div class="form-group col col-xs-12">
                        <label>Ulica i numer</label>
                        <input type="text" ng-model="data.contractor.address.street"/>
                    </div>
                    <div class="form-group col col-xs-6">
                        <label>Kod pocztowy</label>
                        <input type="text" ng-model="data.contractor.address.postcode"/>
                    </div>
                    <div class="form-group col col-xs-6">
                        <label>Miasto</label>
                        <input type="text" ng-model="data.contractor.address.city"/>
                    </div>
                </div>
            </div>
            <div class="col col-xs-6">
                <div class="card">
                    <div class="title">Dane kontaktowe</div>
                    <div class="form-group col col-xs-6">
                        <label>Telefon</label>
                        <input type="text" ng-model="data.contractor.contact.phone"/>
                    </div>
                    <div class="form-group col col-xs-6">
                        <label>Fax</label>
                        <input type="text" ng-model="data.contractor.contact.fax"/>
                    </div>
                    <div class="form-group col col-xs-6">
                        <label>Mail</label>
                        <input type="text" ng-model="data.contractor.contact.mail"/>
                    </div>
                    <div class="form-group col col-xs-6">
                        <label>WWW</label>
                        <input type="text" ng-model="data.contractor.contact.www"/>
                    </div>
                </div>
            </div>
        </div>
        <button class="sender icon" ng-click="data.send()"><i class="material-icons">send</i>Zapisz</button>
    </article>
</div>