<div class="container">
    <article>
        <div class="row">
            <div class="col col-xs-12">
                <div class="card">
                    <div class="title">Dane podstawowe</div>
                    <div class="form-group col col-xs-3">
                        <label ng-class="{'error': data.validation.code&&!data.contractor.code}">Kod kontrahenta</label>
                        <input type="text" ng-model="data.contractor.code"
                               ng-class="{'error': data.validation.code&&!data.contractor.code}"/>
                    </div>
                    <div class="form-group col col-xs-9">
                        <label ng-class="{'error': data.validation.name&&!data.contractor.name}">Nazwa
                            kontrahenta</label>
                        <input type="text" ng-model="data.contractor.name"
                               ng-class="{'error': data.validation.name&&!data.contractor.name}"/>
                    </div>
                    <div class="form-group col col-xs-6">
                        <label>NIP</label>
                        <input type="text" ng-model="data.contractor.nip"/>
                    </div>
                    <div class="form-group col col-xs-4 checkbox">
                        <input type="checkbox" ng-model="data.contractor.supplier"/><label>Dostawca</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-8">
                <div class="card">
                    <div class="title">Adres korespondencyjny</div>
                    <div class="form-group col col-xs-12">
                        <label>Nazwa adresowa</label>
                        <input type="text" ng-model="data.contractor.address.name"/>
                    </div>
                    <div class="form-group col col-xs-6">
                        <label>Imię</label>
                        <input type="text" ng-model="data.contractor.address.firstName"/>
                    </div>
                    <div class="form-group col col-xs-6">
                        <label>Nazwisko</label>
                        <input type="text" ng-model="data.contractor.address.lastName"/>
                    </div>
                    <div class="form-group col col-xs-12">
                        <label>Ulica i numer</label>
                        <input type="text" ng-model="data.contractor.address.street"/>
                    </div>
                    <div class="form-group col col-xs-6">
                        <label>Kod pocztowy</label>
                        <input type="text" ng-model="data.contractor.address.postcode"/>
                    </div>
                    <div class="form-group col col-xs-6">
                        <label>Miasto</label>
                        <input type="text" ng-model="data.contractor.address.city"/>
                    </div>
                </div>
            </div>
            <div class="col col-xs-4">
                <div class="card">
                    <div class="title">Dane kontaktowe</div>
                    <div class="form-group col col-xs-12">
                        <label>Telefon</label>
                        <input type="text" ng-model="data.contractor.contact.phone"/>
                    </div>
                    <div class="form-group col col-xs-12">
                        <label>Fax</label>
                        <input type="text" ng-model="data.contractor.contact.fax"/>
                    </div>
                    <div class="form-group col col-xs-12">
                        <label>Mail</label>
                        <input type="text" ng-model="data.contractor.contact.mail"/>
                    </div>
                    <div class="form-group col col-xs-12">
                        <label>WWW</label>
                        <input type="text" ng-model="data.contractor.contact.www"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-bottom">
            <button class="sender icon" ng-click="data.send()">Zapisz</button>
        </div>
    </article>
</div>