<style>
    .zoom-in {
        float: left;
        position: absolute;
        margin-top: -3px;
        left: 24px;
        cursor: pointer;
    }

    .zoom-in:hover {
        opacity: 0.8;
    }

    .table .row, .table .header {
        padding: 5px 50px 5px 50px;
    }
</style>
<div class="container contractors">
    <div class="buttons">
        <a ng-href="/kontrahent/dodaj">
            <button class="icon">Dodaj kontrahenta</button>
        </a>
    </div>
    <div class="filters big">
        <i class="material-icons">search</i>
        <div class="inputs">
        <div class="col col-xxs-12 col-xs-4"><input ng-model-options="{ allowInvalid: true, debounce: 750 }"
                                         placeholder="Kod" type="text" ng-model="filters.code"
                                         ng-change="filter()"></div>
        <div class="col col-xxs-12 col-xs-8"><input ng-model-options="{ allowInvalid: true, debounce: 750 }"
                                          placeholder="Nazwa" type="text" ng-model="filters.name"
                                          ng-change="filter()"></div>
        </div>
    </div>
    <div class="table" ng-controller="selectTableController">
        {{setSelectOptions('/contractor', 'name', 'contractors')}}
        <div ng-show="selects.length>0" class="box">
            <div class="header">Zaznaczone elementy</div>
            <div class="body">
                <div class="selects">
                    <div class="select" ng-repeat="select in $root.selects">
                        {{select.name}}
                        <i data-nodrag="" class="material-icons"
                           ng-click="delSelect(select, contractors)">delete_forever</i>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="buttons">
                    <button class="small" ng-click="massPdf(selects)">Pobierz PDF</button>
                    <button class="small" ng-click="massXls(selects)">Pobierz XLS</button>
                    <button class="small danger" ng-click="massDelete(contractors, selects)">Usuń</button>
                </div>
            </div>
        </div>
        <div class="header">
            <input type="checkbox" id="chbx" ng-click="checkAll(contractors)"><label for="chbx"
                                                                                     class="checkbox"></label>
            <div ng-show="contractors.length>0">
                <div class="col col-xxs-12 col-xs-2">Kod</div>
                <div class="col col-xxs-12 col-xs-10">Nazwa</div>
            </div>
        </div>
        <div ng-class="{'selected': contractor.selected, 'deleted': contractor.deleted}" class="row"
             ng-repeat="contractor in contractors">
            <div class="head">
                <input type="checkbox" id="chbx{{contractor.id}}" ng-click="check(contractor)"><label
                    for="chbx{{contractor.id}}"
                    class="checkbox"></label>
                <i class="material-icons zoom-in"
                   ng-click="loadDetail('/contractor', contractors, contractor)">zoom_in</i>
                <div class="col col-xxs-12 col-xs-2">{{contractor.code}}</div>
                <div class="col col-xxs-12 col-xs-10">{{contractor.name}}</div>
                <div class="buttons">
                    <a ng-href="/kontrahent/{{contractor.id}}"><i data-nodrag=""
                                                                  class="material-icons">mode_edit</i></a>
                    <i data-nodrag="" class="material-icons" ng-click="deleteRow(contractors, contractor)">delete_forever</i>
                </div>
            </div>
        </div>
        <div ng-show="contractors.length==0" class="table-empty">
            <p>Brak danych w tabeli do wyświetlenia</p>
        </div>
        <fluentLoader ng-click="fluentLoad()">
            <p>Pokaż więcej wyników</p>
        </fluentLoader>
    </div>
</div>