<style>
    .contractor-data {
        display: inline-block;
        margin-left: 15px;
        font-size: 1.25em;
        font-weight: 400;
        width: 100%;
        margin-bottom: 15px;
    }

    .modal.contractor .row {
        cursor: pointer;
    }

    .modal.product .row,
    .modal.contractor .row {
        cursor: pointer;
        padding: 5px 10px 5px 10px;
    }

    .table.products {
        padding: 0px 15px;
        margin-bottom: 15px;
    }

    .table.products input,
    .table.products select {
        background: transparent !important;
        border: 1px solid rgba(255, 255, 255, 0.2);
        top: -4px;
        position: relative;
        width: 96%;
        box-sizing: border-box;
        margin: 0px 2%;
        color: #fff;
    }

    .table.products .row:hover input:hover,
    .table.products .row select:hover {
        border: 1px solid rgba(255, 255, 255, 0.4);
    }

    .table.products select {
        height: 24px;
    }

    .material-icons.delete {
        position: absolute;
        left: 0px;
        top: 3px;
        font-size: 20px;
        cursor: pointer;
        opacity: 0.7;
    }

    .material-icons.delete:hover {
        opacity: 0.6;
    }

    .table.products .col.count {
        height: 16px;
    }

    .table.products .row,
    .table.products .header,
    .table.products .row:hover {
        padding: 5px 5px 5px 20px;
        background: transparent;
        border: none;
    }

    .resume {
        padding-right: 22px;
        padding-bottom: 15px;
    }

    .resume strong {
        width: 60px;
        float: right;
        position: relative;
        margin-top: -1px;
        font-size: 14px;
        color: #ddd;
        font-weight: 400;
    }

    .resume p {
        margin: 4px 0px;
        font-size: 0.85em;
        color: #aaa;
    }

    .table.products .header .col {
        font-size: 0.9em;
        padding: 0px 2px;
    }

    .contractor-data .mini {
        font-size: 0.65em;
        color: #bbb;
    }

    .contractor-data .text {
        font-size: 14px;
        color: #bbb;
    }

    textarea {
        min-height: 75px;
        display: block;
        position: relative;
    }

    .col.name {
        font-size: 11px;
        font-weight: 400;
        padding-top: 2px;
    }

    .row.options,
    .fixed-bottom.options,
    .hide {
        display: none;
    }

    .row.options.show,
    .fixed-bottom.options.show,
    .hide.show {
        display: block;
    }

    .kind,
    .row.options {
        box-sizing: border-box;
    }

    .modal .form-group.search {
        padding-left: 45px;
        position: relative;
    }

    .modal .material-icons.search {
        position: absolute;
        left: 0px;
        font-size: 2.75em;
    }

    .document-edit .production .name {
        font-size: 1.25em;
        font-weight: 400;
        margin: 0px 10px;
        margin-bottom: 15px;
    }

    .form-group.checkbox {
        padding-top: 0;
    }
</style>
<div class="container document-edit">
    <article>
        <div ng-if="!data.productionId" class="row">
        <div class="kind">
            <div class="col col-xxs-12 col-xs-6">
                <div class="card">
                    <div class="title">Rodzaj dokumentu</div>
                    <div class="form-group col col-xxs-6 col-xs-6">
                        <label>Wybierz rodzaj</label>
                        <select ng-model="data.document.kind">
                            <option value="add">Przychód</option>
                            <option value="dec">Rozchód</option>
                        </select>
                    </div>
                    <div class="form-group col col-xxs-6 col-xs-6 hide" ng-class="{'show': data.document.kind}">
                        <label>Wybierz dokument</label>
                        <select ng-model="data.document.type">
                            <option ng-repeat="type in data.typeOption" value="{{type.value}}">{{type.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="row options" ng-class="{'show': data.document.type}">
            <div class="col col-xxs-12 col-xs-7">
                <div class="card">
                    <div class="title">Dane podstawowe</div>
                    <div class="form-group col col-xs-7">
                        <label ng-class="{'error': data.validation.name&&!data.document.name}">Numer dokumentu</label>
                        <input type="text" ng-model="data.document.name"
                               ng-class="{'error': data.validation.name&&!data.document.name}"/>
                    </div>
                    <div class="form-group col col-xs-5">
                        <label ng-class="{'error': data.validation.date&&!data.document.date}">Data wystawienia</label>
                        <input placeholder="yyyy-mm-dd" type="text" ng-model="data.document.date"
                               ng-class="{'error': data.validation.date&&!data.document.date}" class="date"/>
                    </div>
                    <div class="form-group col col-xs-6">
                        <label ng-class="{'error': data.validation.issuePlace&&!data.document.issuePlace}">Miejsce
                            wystawienia</label>
                        <input type="text" ng-model="data.document.issuePlace"
                               ng-class="{'error': data.validation.issuePlace&&!data.document.issuePlace}"/>
                    </div>
                    <div class="form-group col col-xs-6">
                        <label ng-class="{'error': data.validation.deliveryDate&&!data.document.deliveryDate}">Data
                            dostawy</label>
                        <input placeholder="yyyy-mm-dd" type="text" ng-model="data.document.deliveryDate"
                               ng-class="{'error': data.validation.deliveryDate&&!data.document.deliveryDate}"
                               class="date"/>
                    </div>
                    <div ng-if="data.document.kind=='fvp'" class="form-group col col-xs-5">
                        <label>Dokument powiązany</label>
                        <input type="text" ng-model="data.document.nameFrom"/>
                    </div>
                </div>
            </div>
            <div class="col col-xxs-12 col-xs-5" ng-if="!((data.document.type=='rw')||(data.document.type=='pw'))">
                <div class="card">
                    <div class="title">Kontrahent</div>
                    <div class="contractor-data">
                        <div class="mini">{{data.contractor.name}}</div>
                        <div class="name">{{data.contractor.address.name}}</div>
                        <div class="text">{{data.contractor.address.firstName}} {{data.contractor.address.lastName}}
                        </div>
                        <div class="text">{{data.contractor.address.street}}</div>
                        <div class="text">{{data.contractor.address.postcode}} {{data.contractor.address.city}}</div>
                    </div>
                    <button style="margin-bottom: 15px;margin-left: 5px;" ng-click="data.showSelectContractor()">Wybierz
                        kontrahenta
                    </button>
                </div>
            </div>
            <div class="col col-xxs-12 col-xs-5" ng-if="((data.document.type=='rw')||(data.document.type=='pw'))">
                <div class="card">
                    <div ng-if="data.document.type=='rw'" class="title">Wydanie do produkcji</div>
                    <div ng-if="data.document.type=='pw'" class="title">Przychód z produkcji</div>
                    <div class="production">
                        <div class="name">{{data.production.name}}{{data.document.productionName}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row options" ng-class="{'show': data.document.type}">
            <div class="col col-xxs-12 col-xs-12">
                <div class="card">
                    <div class="title">Produkty/usługi</div>
                    <button ng-if="data.document.kind=='add'" style="margin-bottom: 15px;margin-left: 15px;"
                            ng-click="data.showSelectProduct()">Dodaj
                        pozycję
                    </button>
                    <button ng-if="data.document.kind=='dec'" style="margin-bottom: 15px;margin-left: 15px;"
                            ng-click="data.showSelectStock()">Dodaj
                        pozycję
                    </button>
                    <div class="table products">
                        <div class="header" ng-if="data.document.products.length>0">
                            <div class="col col-xxs-12 col-xs-4">Nazwa produktu</div>
                            <div class="col col-xxs-4 col-xs-1 center">Ilość</div>
                            <div class="col col-xxs-4 col-xs-2 right">Cena netto</div>
                            <div class="col col-xxs-4 col-xs-1">VAT</div>
                            <div class="col col-xxs-12 col-xs-4">
                                <div class="col col-xs-4 count right">W.netto</div>
                                <div class="col col-xs-4 count right">W.VAT</div>
                                <div class="col col-xs-4 count right">W.brutto</div>
                            </div>
                        </div>
                        <div class="row" ng-repeat="product in data.document.products" ng-if="!product.deleted">
                            <i class="material-icons delete"
                               ng-click="remove(data.document.products, product)">delete</i>
                            <div class="col col-xxs-12 col-xs-4 name">{{product.name}}</div>
                            <div class="col col-xxs-4 col-xs-1 count"><input class="center" type="text" ng-model="product.count"
                                                                             ng-change="data.callcNet(product)"></div>
                            <div class="col col-xxs-4 col-xs-2 count"><input class="right" type="text" ng-model="product.net"
                                                                   ng-change="data.callcNet(product)"></div>
                            <div class="col col-xxs-4 col-xs-1 count">
                                <select ng-model="product.vat" ng-change="data.callcNet(product)">
                                    <option ng-repeat="vat in data.vatRates" value="{{vat.value}}">{{vat.name}}</option>
                                </select>
                            </div>
                            <div class="col col-xxs-12 col-xs-4">
                                <div class="col col-xxs-4 col-xs-4 count"><input class="right" type="text"
                                                                       ng-model="product.sumNet"
                                                                       ng-change="data.callcSumNet(product)"></div>
                                <div class="col col-xxs-4 col-xs-4 count right" style="padding: 0px 3px;">{{product.sumVat}}</div>
                                <div class="col col-xxs-4 col-xs-4 count"><input class="right" type="text"
                                                                       ng-model="product.sumGross"
                                                                       ng-change="data.callcSumGross(product)"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-xs-6" ng-if="data.document.products.length>0"></div>
                    <div class="col col-xs-6 right resume" ng-if="data.document.products.length>0">
                        <p>Łączna suma netto: <strong>{{data.document.sumNet}}</strong></p>
                        <p>Podatek VAT: <strong>{{data.document.tax}}</strong></p>
                        <p>Łączna suma brutto: <strong>{{data.document.sumGross}}</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row options" ng-class="{'show': data.document.type}">
            <div class="col" ng-class="{'col-xxs-12 col-xs-7': ((data.document.type==='fvp')||(data.document.type==='fvs')),
                    'col-xxs-12 col-xs-12': !((data.document.type==='fvp')||(data.document.type==='fvs'))}">
                <div class="card">
                    <div class="title">Dodatkowe informacje</div>
                    <div class="form-group col col-xs-12 textarea">
                        <label>Opis</label>
                        <textarea ng-model="data.document.description"></textarea>
                    </div>
                </div>
            </div>
            <div class="col col-xxs-12 col-xs-5" ng-if="(data.document.type==='fvp')||(data.document.type==='fvs')">
                <div class="card">
                    <div class="title">Płatności</div>
                    <div class="form-group col col-xs-6">
                        <label ng-class="{'error': data.validation.payment&&!data.document.payment}">Rodzaj
                            płatności</label>
                        <select ng-model="data.document.payment"
                                ng-class="{'error': data.validation.payment&&!data.document.payment}">
                            <option value="money">Gotówka</option>
                            <option value="wire">Przelew</option>
                        </select>
                    </div>
                    <div class="form-group col col-xs-6">
                        <label ng-class="{'error': data.validation.payDate&&!data.document.payDate}">Data
                            zapłaty</label>
                        <input placeholder="yyyy-mm-dd" type="text" ng-model="data.document.payDate"
                               ng-class="{'error': data.validation.payDate&&!data.document.payDate}"/>
                    </div>
                    <div class="form-group col col-xs-6">
                        <label>Nazwa banku</label>
                        <input type="text" ng-model="data.document.bankName"/>
                    </div>
                    <div class="form-group col col-xs-6">
                        <label>BIK/SWIFT</label>
                        <input type="text" ng-model="data.document.swift"/>
                    </div>
                    <div class="form-group col col-xs-12">
                        <label>Numer konta</label>
                        <input type="text" ng-model="data.document.bankNumber"/>
                    </div>
                    <div class="form-group col col-xs-6">
                        <label>Zapłacono</label>
                        <input ng-change="data.payedRefresh()" type="text" ng-model="data.document.payed"/>
                    </div>
                    <div class="form-group col col-xs-6">
                        <label>Do zapłaty</label>
                        <input ng-change="data.toPayRefresh()" type="text" ng-model="data.document.toPay"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row settings" ng-if="data.document.type=='fvs'">
            <div class="col col-xxs-12 col-xs-12">
                <div class="card">
                    <div class="title">Ustawienia dodatkowe</div>
                    <div class="form-group col col-xs-4 checkbox" ng-if="data.document.type=='fvs'">
                        <input type="checkbox" ng-model="data.cashDocument"/><label>Wystaw KP</label>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="data.document.type" class="col col-xxs-12 col-xs-12">
            <button class="sender icon" ng-click="data.send()">Zapisz</button>
        </div>
    </article>
</div>
<div class="modal contractor" ng-class="{'show': data.contractorShow}">
    <div class="content">
        <div class="header">
            <h3>Wybierz kontrahenta</h3><i ng-click="data.contractorHide()" class="material-icons close">close</i>
        </div>
        <div class="body">
            <div class="form-group col col-xs-12 search">
                <i class="material-icons search">search</i>
                <label>Nazwa kontrahenta</label>
                <input ng-model-options="{ allowInvalid: true, debounce: 750 }" ng-change="data.reloadContractor()"
                       type="text" ng-model="data.find.name"/>
            </div>
            <div class="table" ng-if="data.contractors.length>0">
                <div class="header row">
                    <div class="col col-xs-4">Kod</div>
                    <div class="col col-xs-8">Nazwa</div>
                </div>
                <div>
                    <div ng-click="data.selectContractor(contractor)" class="row"
                         ng-repeat="contractor in data.contractors">
                        <div class="col col-xs-4">{{contractor.code}}</div>
                        <div class="col col-xs-8">{{contractor.name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal product" ng-class="{'show': data.productShow}">
    <div class="content">
        <div class="header">
            <h3>Wybierz produkt</h3><i ng-click="data.productHide()" class="material-icons close">close</i>
        </div>
        <div class="body">
            <div class="form-group col col-xs-12 search">
                <i class="material-icons search">search</i>
                <label>Nazwa produktu</label>
                <input ng-model-options="{ allowInvalid: true, debounce: 750 }" ng-change="data.reloadProduct()"
                       type="text" ng-model="data.find.name"/>
            </div>
            <div class="table" ng-if="data.products.length>0">
                <div class="header row">
                    <div class="col col-xs-3">SKU</div>
                    <div class="col col-xs-9">Nazwa produktu</div>
                </div>
                <div>
                    <div ng-click="data.selectProduct(product)" class="row"
                         ng-repeat="product in data.products">
                        <div class="col col-xs-3">{{product.sku}}</div>
                        <div class="col col-xs-9">{{product.name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal stock product" ng-class="{'show': data.stockShow}">
    <div class="content">
        <div class="header">
            <h3>Wybierz produkt</h3><i ng-click="data.stockHide()" class="material-icons close">close</i>
        </div>
        <div class="body">
            <div class="form-group col col-xs-12 search">
                <i class="material-icons search">search</i>
                <label>Nazwa produktu</label>
                <input ng-model-options="{ allowInvalid: true, debounce: 750 }" ng-change="data.reloadStock()"
                       type="text" ng-model="data.find.name"/>
            </div>
            <div class="table" ng-if="data.stocks.length>0">
                <div class="header row">
                    <div class="col col-xs-3">SKU</div>
                    <div class="col col-xs-7">Nazwa produktu</div>
                    <div class="col col-xs-2 right">Ilość</div>
                </div>
                <div>
                    <div ng-click="data.selectStock(stock)" class="row"
                         ng-repeat="stock in data.stocks">
                        <div class="col col-xs-3">{{stock.sku}}</div>
                        <div class="col col-xs-7">{{stock.name}}</div>
                        <div class="col col-xs-2 right">{{stock.count}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>