<style>
    .doc h1{
        font-size: 1.75em;
        font-weight: 300;
        margin: 0;
    }
    .doc .module{
        margin-bottom: 50px;
        float: left;
        width: 100%;
        box-sizing: border-box;
    }
    .doc h3{
        margin: 0;
        font-weight: 300;
        font-size: 1.1em;
    }
    .doc h4{
        margin: 0;
        font-weight: 300;
        font-size: 1em;
        color: #aaa;
    }
    .doc .detail{
        margin-top: 15px;
        float: left;
    }
</style>
<div class="container doc">
    <div class="module" ng-repeat="(key,module) in doc.routes">
        <h1>{{key}}</h1>
        <div ng-repeat="(key,detail) in module" class="detail">
            <div class="col col-xxs-12"><h3>{{detail.name}}</h3></div>
            <div class="col col-xxs-12"><h4>{{detail.url}}</h4></div>
        </div>
    </div>
</div>