<style>
    .contractor-data {
        display: inline-block;
        margin-left: 15px;
        font-size: 1.25em;
        font-weight: 400;
        width: 100%;
        margin-bottom: 15px;
    }

    .modal.contractor .row {
        cursor: pointer;
    }
</style>
<div class="container">
    <article>
        <div class="row">
            <div class="col col-6">
                <div class="card">
                    <div class="title">Dane podstawowe</div>
                    <div class="form-group col col-12">
                        <label ng-class="{'error': data.validation.name&&!data.document.name}">Numer dokumentu</label>
                        <input type="text" ng-model="data.document.name"
                               ng-class="{'error': data.validation.name&&!data.document.name}"/>
                        <p ng-if="data.validation.name&&!data.document.name">Wprowadź numer dokumentu.</p>
                    </div>
                </div>
            </div>
            <div class="col col-6">
                <div class="card">
                    <div class="title">Kontrahent</div>
                    <div class="contractor-data">{{data.contractor.name}}</div>
                    <button style="margin-bottom: 15px;margin-left: 15px;" ng-click="data.showSelectContractor()">Wybierz kontrahenta</button>
                </div>
            </div>
        </div>
        <button class="sender icon" ng-click="data.send()"><i class="material-icons">send</i>Zapisz</button>
    </article>
</div>
<div class="modal contractor" ng-class="{'show': data.contractorShow}">
    <div class="content">
        <div class="header">
            <h3>Wybierz kontrahenta</h3><i ng-click="data.contractorHide()" class="material-icons close">close</i>
        </div>
        <div class="body">
            <div class="form-group col col-12">
                <label>Nazwa kontrahenta</label>
                <input ng-change="data.reloadContractor()" type="text" ng-model="data.find.name"/>
            </div>
            <div class="table" ng-if="data.contractors.length>0">
                <div class="header">
                    <div class="col col-12">Nazwa kontrahenta</div>
                </div>
                <div>
                    <div ng-click="data.selectContractor(contractor)" class="row"
                         ng-repeat="contractor in data.contractors">
                        <div class="col col-12">
                            {{contractor.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>