<style>
    filters .add{
        margin: auto;
        float: none;
        display: block;
    }
    filters .search{
        margin: auto;
        float: none;
        display: block;
        margin-top: 25px;
    }

    filters .padding {
        padding: 25px;
        float: left;
        width: 100%;
        box-sizing: border-box;
    }
    filters .close{
        position: absolute;
        right: 5px;
        top: 5px;
    }
</style>
<div class="filters-dialog">
    <div class="header">
        <i ng-click="$root.showFilter=false" class="close material-icons menu-toggle button">close</i>
    </div>
    <div class="content">
        <div class="padding">
            <button class="add" ng-click="add()">Dodaj filtr</button>
            <div ng-show="$root.filters.length>0" class="table">
                <div class="header">
                    <div class="col col-8">Nazwa filtru</div>
                    <div class="col col-2">Rodzaj filtru</div>
                    <div class="col col-2">Wartość filtru</div>
                </div>
                <div class="row" ng-repeat="filter in $root.filters">
                    <div class="col col-8">{{filter.name}}</div>
                    <div class="col col-2">{{filter.kind}}</div>
                    <div class="col col-2">{{filter.value}}</div>
                    <div class="buttons">
                        <a ng-href="/katalog/produkt/{{product.id}}"><i data-nodrag=""
                                                                        class="material-icons">mode_edit</i></a>
                        <i data-nodrag="" class="material-icons"
                           ng-click="del($root.filters, filter)">delete_forever</i>
                    </div>
                </div>
            </div>
            <button class="search" ng-click="search()">Pokaż wyniki</button>
        </div>
    </div>
</div>