<div class="modal">
<div class="content">
    <div class="header">
        <h3>{{modal.title}}</h3><i ng-click="modal.cancel()" class="material-icons close">close</i>
    </div>
    <div class="body">
        <div class="row">
            <div class="form-group col col-3">
                <label>Nazwa pola</label>
                <select class="form-control" ng-model="modal.name">
                    <option ng-repeat="filter in $root.filtersNames" value="{{filter}}">{{filter}}</option>
                </select>
            </div>
            <div class="form-group col col-3">
                <label>Rodzaj filtru</label>
                <select class="form-control" ng-model="modal.kind">
                    <option value="=">=</option>
                    <option value=">">&gt;</option>
                    <option value="<">&lt;</option>
                    <option value="null">null</option>
                    <option value="%">%</option>
                </select>
            </div>
            <div class="filter form-group col col-6">
                <label>Wartość pola</label>
                <input class="form-control" type="text" ng-model="modal.value">
            </div>
        </div>
    </div>
    <div class="footer">
        <button ng-click="modal.accept()">Dodaj</button>
        <button ng-click="modal.cancel()">Zamknij</button>
    </div>
</div>
</div>