<style>
    .zoom-in {
        float: left;
        position: absolute;
        margin-top: -3px;
        left: 24px;
        cursor: pointer;
    }

    .table .row {
        padding: 5px 20px 20px 50px;
    }

    p.price span.service{
        font-size: 0.75em;
        top: -1px;
        position: relative;
        color: #666 !important;
    }
    p.price {
        margin: 0;
        float: left;
        width: auto !important;
        margin-bottom: 2px;
        font-size: 0.8em;
        padding: 3px !important;
        border: 1px solid transparent;
        cursor: pointer;
    }
    .price.selected {
        font-size: 1.2em;
        top: -4px;
        position: relative;
        font-weight: 500;
        color: #68b;
    }
    p.price.selected span.service{
        color: #68b;
    }
    .price.id{
        display: none;
    }
    .price.selected{
        display: block !important;
    }
    span.id{
        float: left;
        width: auto !important;
        margin-top: 2px;
    }
    .price.courier{
        color: #666;
        margin-top: 3px;
    }
    span.id.margin-top{
        margin-top: 6px;
        margin-left: 10px;
        margin-right: 10px;
    }
    span.id.margin-top b{
        font-size: 0.85em;
        bottom: 1px;
        position: relative;
        color: #555;
    }
    .price.id.selected{
        margin-top: 10px;
        color: #555;
    }
    .links a{
        cursor: pointer;
        margin: 5px 0px;
        margin-right: 10px;
    }
    .links{
        height: 20px;
    }
    .links.empty{
        display: none;
    }
    .select-courier{
        margin: 0;
        margin-top: 5px;
        float: left;
        width: 100%;
        font-weight: 400;
        color: #666;
    }
    .filters {
        padding-left: 30px;
    }
    .invoice-number a{
        font-weight: 400;
        font-size: 1.25em;
        position: relative;
        top: 1px;
    }
    .invoice-number{
        float: left;
        font-size: 0.9em;
        width: 100%;
    }
    .col.label{
        margin-top: 6px;
        margin-left: 10px;
    }
    .buttons p{
        margin: 0;
        font-size: 0.75em;
        font-weight: 400;
        color: #888;
    }
    .buttons.second{
        margin-left: 10px;
    }
    .table.products .row{
        padding: 5px;
    }
    .table.products{
        font-size: 0.85em;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .table.products img{
        width: 50px;
    }
</style>
<div class="container orders">
    <div class="buttons">
        <a href="/zamowienie/dodaj"><button class="icon"><i class="material-icons">add_circle_outline</i>Dodaj zamówienie</button></a>
        <button ng-click="prestaDownload()">Pobierz zamówienia</button>
    </div>
    <div class="buttons second">
        <a ng-click="callOrders()">Zamów</a>
        <p>Zamów kuriera do wszystkich paczek</p>
    </div>
    <div class="table" ng-controller="selectTableController">
        {{setSelectOptions('/orders', 'number', 'orders')}}
        <div ng-show="selects.length>0" class="box">
            <div class="header">Zaznaczone elementy</div>
            <div class="body">
                <div class="selects">
                    <div class="select" ng-repeat="select in selects">
                        {{select.name}}
                        <i data-nodrag="" class="material-icons"
                           ng-click="delSelect(select, stocks)">delete_forever</i>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="buttons">
                    <button class="small" ng-click="massPdf(selects)">Pobierz PDF</button>
                    <button class="small" ng-click="massXls(selects)">Pobierz XLS</button>
                    <!--<button class="small danger" ng-click="massDelete(stocks, selects)">Usuń</button>-->
                </div>
            </div>
        </div>
        <div class="header">
            <input ng-show="orders.length>0" type="checkbox" id="chbx" ng-click="checkAll(orders)"><label ng-show="orders.length>0" for="chbx" class="checkbox"></label>
            <div class="filters">
                <div class="col col-xs-12"><input class="number" ng-model-options="{ allowInvalid: true, debounce: 750 }"
                                                  placeholder="Numer zamówienia" type="text" ng-model="filters.number" ng-change="filter()"></div>
            </div>
            <!--<div class="container" ng-show="stocks.length>0">
                <div class="col col-xs-2">SKU</div>
                <div class="col col-xs-10">Nazwa produktu</div>
            </div>-->
        </div>
        <div ng-show="orders.length==0" class="table-empty">
            <p>Brak danych w tabeli do wyświetlenia</p>
        </div>
        <div ng-class="{'selected': order.selected, 'deleted': order.deleted}" class="row"
             ng-repeat="order in orders">
            <div class="head">
                <input type="checkbox" id="chbx{{order.id}}" ng-click="check(order)"><label for="chbx{{order.id}}"
                                                                                                class="checkbox"></label>
                <i class="material-icons zoom-in" ng-click="loadDetail('/order', orders, order)">zoom_in</i>
                <div class="col col-xs-12">{{order.number}}</div>

                <div class="col col-xs-12 products table">
                    <div class="product row header">
                        <div class="col col-xs-1"> </div>
                        <div class="col col-xs-2">SKU</div>
                        <div class="col col-xs-6">Produkt</div>
                        <div class="col col-xs-1 right">Ilość</div>
                        <div class="col col-xs-2 right">W.brutto</div>
                    </div>
                    <div class="product row" ng-repeat="product in order.products">
                        <div class="col col-xs-1"><img src="{{product.imageUrl}}"></div>
                        <div class="col col-xs-2"><img src="{{product.sku}}"></div>
                        <div class="col col-xs-6">{{product.name}}</div>
                        <div class="col col-xs-1 right">{{product.count}}</div>
                        <div class="col col-xs-2 right">{{product.sumGross}}</div>
                    </div>
                </div>

                <div ng-if="!order.invoiceNumber" class="col col-xs-12 links">
                    <a class="col" ng-click="addInvoice(order)">Wystaw fakturę</a>
                </div>
                <span ng-if="order.invoiceNumber" class="invoice-number">Numer: <a ng-href="/api/document/{{order.documentId}}/print" target="_blank">{{order.invoiceNumber}}</a></span>
                <div class="col col-xs-12 links" ng-class="{'empty': order.courier}">
                    <a ng-if="(!order.courier)&&(!order.prices)" class="col" ng-click="orderPrices(order)">Zrób paczkę</a>
                    <p ng-if="order.prices" class="select-courier">Wybierz kuriera</p>
                </div>
                <p class="col col-xs-12 price selected courier" ng-if="(order.id.length!=32||order.courier)&&(order.id.length==32)">
                    <span>{{order.courierPrice}}</span>
                    <span class="service">{{order.courier}}</span>
                </p>
                <p class="col col-xs-12 price" ng-class="{'selected': price.selected, 'id': (order.id.length!=32)}" ng-click="selectPrice(order.prices, price)" ng-repeat="price in order.prices | orderBy:'price'" ng-if="price.price>0">
                    <span>{{price.priceText}}</span>
                    <span class="service">{{price.service}}</span>
                </p>
                <a ng-if="(order.id.length==32)&&(order.prices.length>0)&&lastSelected" class="col col-xs-12" style="cursor: pointer;margin: 5px 0px;margin-top: -7px;" ng-click="orderAdd(order)">Zamów kuriera</a>
                <span ng-class="{'id': (order.id.length!=32)||order.courier, 'margin-top': order.courier}" ng-if="!order.courier&&((order.id.length!=32)&&(order.prices.length>0))" class="col col-xs-12"><b>ID:</b> {{order.id}}</span>
                <span ng-class="{'id': (order.id.length!=32)||order.courier, 'margin-top': order.courier}" ng-if="order.courier||((order.id.length!=32)&&(order.prices.length>0))&&(order.id.length==32)" class="col col-xs-12"><b>ID:</b> {{order.courierNumber}}</span>
                <span ng-class="{'id': (order.id.length!=32)||order.courier, 'margin-top': order.courier}" ng-if="order.pickup&&(order.courier||((order.id.length!=32)&&(order.prices.length>0))&&(order.id.length==32))" class="col col-xs-12"><b>Data odbioru: </b> {{order.pickup}}</span>
                <span ng-if="order.pickup"><a class="col label" target="_blank" ng-href="https://test.furgonetka.pl/zamowione/etykieta/{{order.courierNumber}}">Pobierz etykietę</a></span>
                <div class="buttons">
                    <a ng-href="/zamowienie/{{order.id}}"><i data-nodrag=""
                                                                  class="material-icons">mode_edit</i></a>
                    <i data-nodrag="" class="material-icons" ng-click="deleteRow(orders, order)">delete_forever</i>
                </div>
            </div>
        </div>
        <fluentLoader ng-click="fluentLoad()" ng-show="orders.length>0">
            <p>Pokaż więcej wyników</p>
        </fluentLoader>
    </div>
</div>