<style>
    .zoom-in {
        float: left;
        position: absolute;
        margin-top: -3px;
        left: 24px;
        cursor: pointer;
    }

    .table .row {
        padding: 5px 20px 5px 50px;
    }

    .table .header {
        display: none;
    }
    p.price span.service{
        font-size: 0.75em;
        top: -1px;
        position: relative;
        color: #666 !important;
    }
    p.price {
        margin: 0;
        float: left;
        width: auto !important;
        margin-right: 15px;
        margin-bottom: 2px;
        font-size: 0.8em;
        padding: 3px !important;
        border: 1px solid transparent;
        cursor: pointer;
    }
    .price.selected {
        font-size: 1.2em;
        top: -4px;
        position: relative;
        font-weight: 500;
        color: #68b;
    }
    p.price.selected span.service{
        color: #68b;
    }
    .price.id{
        display: none;
    }
    .price.selected{
        display: block !important;
    }
    span.id{
        float: left;
        width: auto !important;
        margin-top: 2px;
    }
    .price.courier{
        color: #666;
        margin-top: 10px;
    }
    span.id.margin-top{
        margin-top: 13px;
    }
    span.id.margin-top b{
        font-size: 0.85em;
        bottom: 1px;
        position: relative;
        color: #555;
    }
    .price.id.selected{
        margin-top: 10px;
        color: #555;
    }
    .links a{
        cursor: pointer;
        margin: 5px 0px;
        margin-right: 10px;
    }
    .links{
        height: 20px;
    }
    .links.empty{
        display: none;
    }
    .select-courier{
        margin: 0;
        margin-top: 5px;
        float: left;
        width: 100%;
        font-weight: 400;
        color: #666;
    }
</style>
<div class="container orders">
    <div class="buttons">
        <button class="icon" ng-click="ordersRefresh()"><i class="material-icons">add_circle_outline</i>Odświerz</button>
    </div>
    <div class="table" ng-controller="selectTableController">
        {{setSelectOptions('/orders', 'number', 'orders')}}
        <div ng-show="selects.length>0" class="box">
            <div class="header">Zaznaczone elementy</div>
            <div class="body">
                <div class="selects">
                    <div class="select" ng-repeat="select in selects">
                        {{select.name}}
                        <i data-nodrag="" class="material-icons"
                           ng-click="delSelect(select, stocks)">delete_forever</i>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="buttons">
                    <button class="small" ng-click="massPdf(selects)">Pobierz PDF</button>
                    <button class="small" ng-click="massXls(selects)">Pobierz XLS</button>
                    <!--<button class="small danger" ng-click="massDelete(stocks, selects)">Usuń</button>-->
                </div>
            </div>
        </div>
        <div class="header">
            <input ng-show="stocks.length>0" type="checkbox" id="chbx" ng-click="checkAll(orders)"><label ng-show="stocks.length>0" for="chbx" class="checkbox"></label>
            <div class="filters">
                <div class="col col-xs-12"><input ng-model-options="{ allowInvalid: true, debounce: 750 }"
                                                  placeholder="SKU" type="text" ng-model="filters.number" ng-change="filter()"></div>
            </div>
            <!--<div class="container" ng-show="stocks.length>0">
                <div class="col col-xs-2">SKU</div>
                <div class="col col-xs-10">Nazwa produktu</div>
            </div>-->
        </div>
        <div ng-show="stocks.length==0" class="table-empty">
            <p>Brak danych w tabeli do wyświetlenia</p>
        </div>
        <div ng-class="{'selected': stock.selected, 'deleted': stock.deleted}" class="row"
             ng-repeat="order in orders">
            <div class="head">
                <input type="checkbox" id="chbx{{stock.id}}" ng-click="check(order)"><label for="chbx{{stock.id}}"
                                                                                                class="checkbox"></label>
                <i class="material-icons zoom-in" ng-click="loadDetail('/order', orders, order)">zoom_in</i>
                <div class="col col-xs-12">{{order.number}}</div>
                <div class="col col-xs-12 links" ng-class="{'empty': order.courier}">
                    <a ng-if="(!order.courier)&&(!order.prices)" class="col" ng-click="orderPrices(order)">Zrób paczkę</a>
                    <p ng-if="order.prices" class="select-courier">Wybierz kuriera</p>
                </div>
                <p class="col col-xs-12 price selected courier" ng-if="(order.id.length!=32||order.courier)&&(order.id.length==32)">
                    <span>{{order.courierPrice}}</span>
                    <span class="service">{{order.courier}}</span>
                </p>
                <p class="col col-xs-12 price" ng-class="{'selected': price.selected, 'id': (order.id.length!=32)}" ng-click="selectPrice(order.prices, price)" ng-repeat="price in order.prices | orderBy:'price'" ng-if="price.price>0">
                    <span>{{price.priceText}}</span>
                    <span class="service">{{price.service}}</span>
                </p>
                <a ng-if="(order.id.length==32)&&(order.prices.length>0)&&lastSelected" class="col col-xs-12" style="cursor: pointer;margin: 5px 0px;" ng-click="orderAdd(order)">Zamów</a>
                <span ng-class="{'id': (order.id.length!=32)||order.courier, 'margin-top': order.courier}" ng-if="!order.courier&&((order.id.length!=32)&&(order.prices.length>0))" class="col col-xs-12"><b>ID:</b> {{order.id}}</span>
                <span ng-class="{'id': (order.id.length!=32)||order.courier, 'margin-top': order.courier}" ng-if="order.courier||((order.id.length!=32)&&(order.prices.length>0))&&(order.id.length==32)" class="col col-xs-12"><b>ID:</b> {{order.courierNumber}}</span>
                <div class="col col-xs-12 links">
                    <a class="col">Wystaw fakturę</a>
                </div>
            </div>
        </div>
        <fluentLoader ng-click="fluentLoad()" ng-show="stocks.length>0">
            <p>Pokaż więcej wyników</p>
        </fluentLoader>
    </div>
</div>