<style>
    .product-detail .sku{
        font-size: 1.25em;
        padding-left: 2px;
    }
    .product-detail .name{
        font-size: 1.75em;
        font-weight: 400;
    }
</style>
<div class="modal big product-detail">
    <div class="content">
        <div class="header">
            <h3>Widok produktu</h3><i ng-click="modal.close()" class="material-icons close">close</i>
        </div>
        <div class="body">
            <div class="detail">
                <div class="col col-xs-12">
                    <div class="sku">{{data.sku}}</div>
                    <div class="name">{{data.sku}}</div>
                </div>
            </div>
        </div>
    </div>
</div>