<style>
    .zoom-in {
        float: left;
        position: absolute;
        margin-top: -3px;
        left: 24px;
        cursor: pointer;
    }

    .table .row {
        padding: 5px 20px 5px 50px;
    }

    .table .header {
        padding: 5px 5px 5px 50px;
    }
</style>
<div class="container stocks">
    <div class="buttons">
        <a ng-href="/dokument/dodaj">
            <button class="icon">Przyjmnij/Wydaj</button>
        </a>
    </div>
    <div class="filters big">
        <i class="material-icons">search</i>
        <div class="inputs">
        <div class="col col-xs-2"><input ng-model-options="{ allowInvalid: true, debounce: 750 }" placeholder="SKU" type="text" ng-model="filters.sku" ng-change="filter()"></div>
        <div class="col col-xs-8"><input ng-model-options="{ allowInvalid: true, debounce: 750 }" placeholder="Nazwa produktu" type="text" ng-model="filters.name" ng-change="filter()"></div>
        <div class="col col-xs-2"><input ng-model-options="{ allowInvalid: true, debounce: 750 }" class="right" placeholder="Ilość" type="text" ng-model="filters.count" ng-change="filter()"></div>
        </div>
    </div>
    <div class="table" ng-controller="selectTableController">
        {{setSelectOptions('/stock', 'name', 'stocks')}}
        <div ng-show="selects.length>0" class="box">
            <div class="header">Zaznaczone elementy</div>
            <div class="body">
                <div class="selects">
                    <div class="select" ng-repeat="select in selects">
                        {{select.name}}
                        <i data-nodrag="" class="material-icons"
                           ng-click="delSelect(select, stocks)">delete_forever</i>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="buttons">
                    <button class="small" ng-click="massPdf(selects)">Pobierz PDF</button>
                    <button class="small" ng-click="massXls(selects)">Pobierz XLS</button>
                    <!--<button class="small danger" ng-click="massDelete(stocks, selects)">Usuń</button>-->
                </div>
            </div>
        </div>
        <div class="header">
            <input ng-show="stocks.length>0" type="checkbox" id="chbx" ng-click="checkAll(stocks)"><label ng-show="stocks.length>0" for="chbx" class="checkbox"></label>
            <div class="container" ng-show="stocks.length>0">
                <div class="col col-xs-2">SKU</div>
                <div class="col col-xs-8">Nazwa produktu</div>
                <div class="col col-xs-2 right">Ilość</div>
            </div>
        </div>
        <div ng-show="stocks.length==0" class="table-empty">
            <p>Brak danych w tabeli do wyświetlenia</p>
        </div>
        <div ng-class="{'selected': stock.selected, 'deleted': stock.deleted}" class="row"
             ng-repeat="stock in stocks">
            <div class="head">
                <input type="checkbox" id="chbx{{stock.id}}" ng-click="check(stock)"><label for="chbx{{stock.id}}"
                                                                                                class="checkbox"></label>
                <i class="material-icons zoom-in" ng-click="loadDetail('/stock', stocks, stock)">zoom_in</i>
                <div class="col col-xs-2">{{stock.sku}}</div>
                <div class="col col-xs-8">{{stock.name}}</div>
                <div class="col col-xs-2 right">{{stock.count}}</div>
            </div>
        </div>
        <fluentLoader ng-click="fluentLoad()" ng-show="stocks.length>0">
            <p>Pokaż więcej wyników</p>
        </fluentLoader>
    </div>
</div>