<!DOCTYPE html>
<html lang="pl" ng-app="Megazin">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{$description}">
    <meta name="keywords" content="{$keywords}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Megazin</title>

    <link ng-href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link ng-href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <link rel="stylesheet" ng-href="/Public/Css/angular-ui-tree.min.css">

    <link rel="stylesheet" ng-href="/Public/Css/Partials/Modal.css">
    <link rel="stylesheet" ng-href="/Public/Css/Partials/Forms.css">
    <link rel="stylesheet" ng-href="/Public/Css/Partials/Angular-Ui-Tree.css">
    <link rel="stylesheet" ng-href="/Public/Css/Partials/Header.css">
    <link rel="stylesheet" ng-href="/Public/Css/Partials/Table.css">
    <link rel="stylesheet" ng-href="/Public/Css/Partials/Grid.css">
    <link rel="stylesheet" ng-href="/Public/Css/Partials/Tab.css">

    <link rel="stylesheet" ng-href="/Public/Css/Megazin.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

    <script src="/Public/Js/ng-file-upload-shim.min.js"></script>
    <script src="/Public/Js/ng-file-upload.min.js"></script>
    <script src="/Public/Js/angular-chart.min.js"></script>

    <script src="/Public/Js/angular-ui-tree.min.js"></script>
    <script src="/Public/Js/Megazin.js"></script>

    <script src="/Public/Js/Megazin/Other/Dialog.js"></script>
    <script src="/Public/Js/Megazin/Other/Table.js"></script>
    <script src="/Public/Js/Megazin/Other/Tabs.js"></script>
    <script src="/Public/Js/Megazin/Other/Upload.js"></script>

    <script src="/Public/Js/Megazin/Account.js"></script>
    <script src="/Public/Js/Megazin/Cash.js"></script>
    <script src="/Public/Js/Megazin/Catalog.js"></script>
    <script src="/Public/Js/Megazin/Channel.js"></script>
    <script src="/Public/Js/Megazin/Contractor.js"></script>
    <script src="/Public/Js/Megazin/Debt.js"></script>
    <script src="/Public/Js/Megazin/Document.js"></script>
    <script src="/Public/Js/Megazin/Files.js"></script>
    <script src="/Public/Js/Megazin/Order.js"></script>
    <script src="/Public/Js/Megazin/Production.js"></script>
    <script src="/Public/Js/Megazin/Profile.js"></script>
    <script src="/Public/Js/Megazin/Stock.js"></script>
    <script src="/Public/Js/Megazin/Financial.js"></script>

    <base ng-href="/">
</head>
<body>
<div id="background"></div>
<style>
    .loader {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
<!--<div id="loading"><i class="material-icons rotate big">refresh</i></div>-->
<header ng-if="user.logged">
    <div class="wrapper"><i ng-click="$root.showMenu=!$root.showMenu" class="material-icons menu-toggle button menu">menu</i>
        <div class="pageTitle">
            <p ng-show="pageName">Obecna strona</p>
            <h1 ng-show="pageName">{{pageName}}</h1>
        </div>
        <i ng-if="user.logged" ng-click="logout()" class="material-icons right button">exit_to_app</i>
    </div>
</header>
<header class="not-logged" ng-if="!user.logged">
    <div class="container">
        <a class="sub" ng-href="/konto/rejestracja">Rejestracja</a>
        <a class="sub" ng-href="/konto/logowanie">Logowanie</a>
    </div>
</header>
<div class="wrapper">
    <div ng-show="$root.showMenu" id="menu" ng-click="showMenu=false">
        <div class="menu-body">
            <div ng-if="user.logged" class="container">
                <div class="links-group col col-xs-3">
                    <h3 class="primary">Konto</h3>
                    <a ng-click="$root.showMenu=false" class="sub" ng-href="/konto/profil">Profil</a>
                </div>
                <div class="links-group col col-xs-3">
                    <h3 class="primary">Katalog</h3>
                    <a ng-click="$root.showMenu=false" class="sub" ng-href="/katalog/kategorie">Kategorie</a>
                    <a ng-click="$root.showMenu=false" class="sub" ng-href="/katalog/produkty">Produkty</a>
                </div>
                <div class="links-group col col-xs-3">
                    <h3 class="primary">Dokumenty</h3>
                    <a ng-click="$root.showMenu=false" class="sub" ng-href="/dokumenty">Lista dokumentów</a>
                </div>
                <div class="links-group col col-xs-3">
                    <h3 class="primary">Kontrahenci</h3>
                    <a ng-click="$root.showMenu=false" class="sub" ng-href="/kontrahenci">Lista kontrahentów</a>
                    <a ng-click="$root.showMenu=false" class="sub" ng-href="/dluznicy">Lista dłużników</a>
                </div>
                <div class="links-group col col-xs-3">
                    <h3 class="primary">Magazyn</h3>
                    <a ng-click="$root.showMenu=false" class="sub" ng-href="/magazyn">Stan towarów</a>
                </div>
                <div class="links-group col col-xs-3">
                    <h3 class="primary">System</h3>
                    <a ng-click="$root.showMenu=false" class="sub" ng-href="/system/pliki">Pliki</a>
                </div>
                <div class="links-group col col-xs-3">
                    <h3 class="primary">Zamówienia</h3>
                    <a ng-click="$root.showMenu=false" class="sub" ng-href="/kanaly-sprzedazy">Kanały sprzedaży</a>
                    <a ng-click="$root.showMenu=false" class="sub" ng-href="/zamowienia">Zamówienia</a>
                </div>
                <div class="links-group col col-xs-3">
                    <h3 class="primary">Produkcja</h3>
                    <a ng-click="$root.showMenu=false" class="sub" ng-href="/produkcje">Lista produkcji</a>
                </div>
                <div class="links-group col col-xs-3">
                    <h3 class="primary">Ksiegowość</h3>
                    <a ng-click="$root.showMenu=false" class="sub" ng-href="/kasa">Stan kasy</a>
                    <a ng-click="$root.showMenu=false" class="sub" ng-href="/finanse">Operacje finansowe</a>
                </div>
                <div class="links-group col col-xs-3">
                    <h3 class="primary">Demo</h3>
                    <a ng-click="$root.showMenu=false" class="sub" ng-href="/demo">Demo</a>
                </div>
            </div>
        </div>
    </div>
    <ng-view></ng-view>
</div>
</body>
</html>