<div class="container">
    <div class="row"> 
        <div class="col col-8 col-offset-6"> 
            <form action="/rejestracja" method="POST" class="box loginForm">
                <h1>Rejestracja</h1>
                <div class="form-group col col-20">
                    <label>Mail</label>
                    <input type="text" name="mail"/>
                </div>
                <div class="form-group col col-20">
                    <label>Hasło</label>
                    <input type="password" name="password"/>
                </div>
                <center><button type="submit" class="button button-lg button-primary">Zarejestruj</button></center>
            </form>
        </div>
    </div>
</div>