<style>
{literal}
.col {
    float: left;
    box-sizing: border-box;
    padding: 0px;
}

.col-1 {
    width: 5%;
}

.col-2 {
    width: 10%;
}

.col-3 {
    width: 15%;
}

.col-4 {
    width: 20%;
}

.col-5 {
    width: 25%;
}

.col-6 {
    width: 30%;
}

.col-7 {
    width: 35%;
}

.col-8 {
    width: 40%;
}

.col-9 {
    width: 45%;
}

.col-10 {
    width: 49.7%;
}

.col-11 {
    width: 55%;
}

.col-12 {
    width: 60%;
}

.col-13 {
    width: 65%;
}

.col-14 {
    width: 70%;
}

.col-15 {
    width: 75%;
}

.col-16 {
    width: 80%;
}

.col-17 {
    width: 85%;
}

.col-18 {
    width: 90%;
}

.col-19 {
    width: 95%;
}

.col-20 {
    width: 100%;
}

.col-offset-1 {
    margin-left: 5%;
}

.col-offset-2 {
    margin-left: 10%;
}

.col-offset-3 {
    margin-left: 15%;
}

.col-offset-4 {
    margin-left: 20%;
}

.col-offset-5 {
    margin-left: 25%;
}

.col-offset-6 {
    margin-left: 30%;
}

.col-offset-7 {
    margin-left: 35%;
}

.col-offset-8 {
    margin-left: 40%;
}

.col-offset-9 {
    margin-left: 45%;
}

.col-offset-10 {
    margin-left: 50%;
}

.col-offset-11 {
    margin-left: 55%;
}

.col-offset-12 {
    margin-left: 60%;
}

.col-offset-13 {
    margin-left: 65%;
}

.col-offset-14 {
    margin-left: 70%;
}

.col-offset-15 {
    margin-left: 75%;
}

.col-offset-16 {
    margin-left: 80%;
}

.col-offset-17 {
    margin-left: 85%;
}

.col-offset-18 {
    margin-left: 90%;
}

.col-offset-19 {
    margin-left: 95%;
}

.col-offset-20 {
    margin-left: 100%;
}
{/literal}
</style>