<style>
{literal}

.row {
    float: left;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
}

.margin {
    width: 1px;
    height: 50px;
}

.margin-big {
    width: 1px;
    height: 100px;
}

th, td {
    border-bottom: 1px solid black;
}

td.no-border{
    border-bottom: 1px solid white;
}

th, td {
    padding: 3px 5px;
}

th {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.font-small {
    font-size: 0.85em;
}

.box {
    border: 1px solid black;
}

.signature{
    padding: 10px 20px;
}
.signature p {
    margin-top: 50px;
}

#werhouse .summary{
    width: 400px;
    float: right;
}

{/literal}
</style>