{include file='Pl-pl/Print/Grid.css'}
{include file='Pl-pl/Print/Style.css'}
<div id="werhouse">
    <div class="row">
        <div class="col col-10">
            <h1>{$document.number}</h1>
        </div>
        <div class="col col-10 text-right font-small">
            <div>Data wystawienia</div>
            <div><b>{$document.date_add}</b></div>
            <div>Miejsce wystawienia</div>
            <div><b>{$document.city}</b></div>
            <div>Data dostawy / wykonania usługi</div>
            <div><b>{$document.date_act}</b></div>
        </div>
    </div>
    <div class="margin-big"></div>
    <div class="row">
        <div class="col col-10 font-small">
            <h3>Nabywca</h3>
            <div>{$seller.firstname} {$seller.surname}</div>
            <div>{$seller.nip}</div>
            <div>{$seller.street} {$seller.number}{if $seller.subnumber}/{$seller.subnumber}{/if}</div>
            <div>{$seller.postcode} {$seller.city}</div>
        </div>
        {if $contractor}
        <div class="col col-10 font-small">
            <h3>Kontrahent</h3>
            <div>{$contractor.firstname} {$contractor.surname}</div>
            <div>{$contractor.nip}</div>
            <div>{$contractor.street} {$contractor.number}{if $contractor.subnumber}/{$contractor.subnumber}{/if}</div>
            <div>{$contractor.postcode} {$contractor.city}</div>
        </div>
        {/if}
    </div>
    <div class="margin"></div>
    <table>
        <tr>
            <th class="font-small">Lp.</th>
            <th class="font-small">PKWiU</th>
            <th class="font-small">Nazwa produktu / usługi</th>
            <th class="font-small text-right">Ilość</th>
            <th class="font-small">Jm</th>
            <th class="font-small text-right">Cena netto</th>
            <th class="font-small text-right">%VAT</th>
            <th class="font-small text-right">Wart. netto</th>
            <th class="font-small text-right">Kwota VAT</th>
            <th class="font-small text-right">Wart. brutto</th>
        </tr>
        {foreach $products.products item=product}
        <tr>
            <td class="font-small">{$product.lp}</td>
            <td class="font-small">{$product.sku}</td>
            <td class="font-small">{$product.name}</td>
            <td class="font-small text-right">{$product.count}</td>
            <td class="font-small">szt</td>
            <td class="font-small text-right">{$product.net} {$currency}</td>
            <td class="font-small text-right">{$product.tax}</td>
            <td class="font-small text-right">{$product.sum_net} {$currency}</td>
            <td class="font-small text-right">{$product.sum_tax} {$currency}</td>
            <td class="font-small text-right">{$product.sum_gross} {$currency}</td>
        </tr>
        {/foreach}
        <tr>
            <td class="no-border"></td>
            <td class="no-border"></td>
            <td class="no-border"></td>
            <td class="no-border"></td>
            <td class="no-border"></td>
            <td class="no-border"></td>
            <td class="font-small text-right">Razem</td>
            <td class="font-small text-right">{$products.net} {$currency}</td>
            <td class="font-small text-right">{$products.tax} {$currency}</td>
            <td class="font-small text-right">{$products.gross} {$currency}</td>
        </tr>
    </table>
    <div class="margin"></div>
    <div class="summary">
        <table>
            <tr>
                <th></th>
                <th class="font-small text-right">Wart. netto</th>
                <th class="font-small text-right">Kwota VAT</th>
                <th class="font-small text-right">Wart. brutto</th>
            </tr>
            {foreach $products.summary item=tax}
            <tr>
                <td class="font-small text-right">{$tax.key}</td>
                <td class="font-small text-right">{$tax.sum_net} {$currency}</td>
                <td class="font-small text-right">{$tax.sum_tax} {$currency}</td>
                <td class="font-small text-right">{$tax.sum_gross} {$currency}</td>
            </tr>
            {/foreach}
            <tr>
                <td class="font-small text-right no-border">Razem</td>
                <td class="font-small text-right no-border">{$products.net} {$currency}</td>
                <td class="font-small text-right no-border">{$products.tax} {$currency}</td>
                <td class="font-small text-right no-border">{$products.gross} {$currency}</td>
            </tr>
        </table>
    </div>
    <div class="margin-big"></div>
    <div class="row">
        <h3 class="text-right">Razem: {$products.gross} {$currency}</h3>
    </div>
    <div class="margin-big"></div>
    <div class="row" class="font-small">
        <div>
            <span>Termin zapłaty <b>{$document.date_pay}    </b></span>
            <span>Forma zapłaty <b>{$document.payment}     </b></span>
        </div>
        <div>
            <span>Bank <b>Bank Test</b>    </span>
            <span>Numer konta <b>0000-0000-0000-0000-0000-00</b>     </span>
            <span>Do zapłaty <b>{$products.gross} {$currency}</b>    </span>
        </div>
    </div>
    <div class="margin-big"></div>
    <div class="row font-small">
        <div class="col col-10 text-center">
            <div class="signature">
                <div class="box">
                    <h3>Wystawca</h3>
                    <p>{$seller.firstname} {$seller.surname}</p>
                </div>
            </div>
        </div>
        <div class="col col-10 text-center">
            <div class="signature">
                <div class="box">
                    <h3>Odbiorca</h3>
                    <p>{$contractor.firstname} {$contractor.surname}</p>
                </div>
            </div>
        </div>
    </div>
</div>