body {
    margin: 0px;
    padding: 0px;
    float: left;
    min-height: 100%;
    width: 100%;
}

body,
input,
select,
option {
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 300;
}

.row {
    float: left;
    width: 100%;
}

button {
    background: none;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #fff;
}

button[type=submit]:hover,
button[type=submit]:active,
button[type=submit]:focus {
    box-shadow: none;
    outline: none;
}

a,
a:focus,
a:hover,
a:active {
    color: #000;
    text-decoration: none;
}

.form-group {
    float: left;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.form-group label {
    width: 100%;
    font-size: 0.85em;
}

.form-group input,
.form-group select,
.form-group option {
    padding: 5px 10px;
    outline: none;
    border: 1px solid #ccc;
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.content {
    padding: 0px 15px;
}

img.responsive {
    max-width: 100%;
}

.text-right {
    text-align: right;
}

.box,
.table-row {
    background-color: #fff;
}

.box {
    box-shadow: 0px 0px 5px #666;
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.box .header {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    background-color: rgba(0, 20, 60, 0.1);
    color: #666;
    box-sizing: border-box;
}

.box .header .title {
    margin: 0px;
    font-size: 1.05em;
    font-weight: 400;
}

.box .body {
    float: left;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.box .footer {
    float: left;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
}

.button-lg {
    padding: 7px 15px;
    font-size: 1.15em;
    font-weight: 300;
}

.button-primary {
    background-color: rgba(50, 50, 250, 0.8);
    color: #fff;
}

.loginForm {
    padding: 25px;
    margin-top: 100px;
}

.loginForm h1 {
    text-align: center;
}

.loginForm p {
    text-align: center;
}

header {
    float: left;
    width: 100%;
    box-shadow: 0px 0px 5px #666;
    background-color: rgba(255, 255, 255, 0.8);
}

header nav {
    width: 100%;
    text-align: center;
}

header nav ul {
    margin: 0px;
    padding: 0px;
}

header nav ul li {
    list-style: none;
    display: inline-block;
    padding: 15px 20px;
    font-weight: 500;
}

.float-right{
    float: right;
}
#header{
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: -1;
    background-color: rgba(200, 200, 220, 0.1);
}
#welcome h1{
    margin-top: 50px;
    font-size: 3em;
    text-align: center;
}
#welcome p{
    font-size: 1.8em;
    text-align: center;
    font-weight: 400;
}
#welcome{
    min-height: 100vh;
}
#welcome .buttons {
    text-align: center;
}
#welcome button{
    font-size: 1.5em;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: 1px solid #fff;
}
.container{
    float: left;
    width: 80%;
    margin: 0% 10%;
    margin-top: 50px;
    margin-bottom: 100px;
}
.article{
    margin-bottom: 100px;
}
.article h2 span{
    font-weight: 400;
    font-size: 0.75em;
    color: #ccc;
}