body {
    margin: 0;
    padding: 0;
    background: rgba(100, 100, 255, 0.1);
}

#background{
    position: fixed;
    z-index: -100;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#background{
    background: #606c88;
    background: -moz-radial-gradient(center, ellipse cover, #606c88 0%, #514677 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #606c88 0%,#514677 100%);
    background: radial-gradient(ellipse at center, #606c88 0%,#514677 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#514677',GradientType=1 );
}

body,
input,
button,
select,
option,
textarea {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto';
    color: #fff;
}

.container {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
    padding-bottom: 100px;
    padding-top: 85px;
}

.login,
.register {
    margin: auto;
    margin-top: 50px;
    float: none !important;
    padding: 25px;
    max-width: 300px;
}

.box {
    border-radius: 5px;
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.05);
}

.box .header {
    margin-bottom: 3px;
    font-weight: 400;
    border: none;
    color: #ddd;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 5px 10px !important;
    border-radius: 5px 5px 0px 0px;
}

.box .body {
    padding: 10px;
    float: left;
    width: 100%;
    box-sizing: border-box;
}

.box .footer {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.box .footer .buttons {
    margin: 0;
}

.box .footer .buttons button {
    margin: 0;
    margin-right: 5px;
}

.login h1,
.register h1 {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 100;
    text-align: center;
}

.center {
    text-align: center;
}

.login button,
.register button {
    margin-top: 5px;
}

.buttons {
    margin-bottom: 25px;
}

a,
a:hover,
a:focus,
a:active {
    color: #333;
    text-decoration: none;
    font-weight: 400;
}

header {
    width: 100%;
    position: fixed !important;
    box-sizing: border-box;
    float: left;
}

fluentLoader {
    text-align: center;
    width: 100%;
    float: left;
    box-sizing: border-box;
}

fluentLoader p {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    color: #fff !important;
    font-weight: 400;
    margin-top: 40px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

fluentLoader p:hover {
    background: rgba(255, 255, 255, 0.2) !important;
    color: #fff !important;
}

upload .borderBox,
upload #uploadBorderBox,
upload-attachment .borderBox,
upload-attachment #uploadBorderBox {
    border: 1px dashed rgba(64, 128, 256, 0.5);
    min-width: 146px;
    min-height: 146px;
    position: relative;
    border-radius: 15px;
    cursor: pointer;
    margin: 5px;
    box-sizing: border-box;
    float: left;
    margin-bottom: 35px;
}

upload-attachment .borderBox {
    width: 100%;
}

upload .borderBox .name,
upload-attachment .borderBox .name {
    z-index: 1000;
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 400;
    font-size: 0.75em;
    height: 13px;
    overflow: hidden;
}

upload-attachment .borderBox .name {
    text-align: left;
    padding: 0px 20px;
    top: 0;
    position: relative;
}

upload .borderBox .size,
upload-attachment .borderBox .size {
    position: absolute;
    bottom: -42px;
    font-weight: 400;
    font-size: 0.7em;
    width: 100%;
    text-align: center;
}

upload-attachment .borderBox .size {
    position: relative;
    text-align: left;
    padding: 0px 20px;
    width: 100%;
    float: left;
    box-sizing: border-box;
    bottom: 0;
    margin: 0;
}

upload .borderBox .material-icons.delete,
upload-attachment .borderBox .material-icons.delete {
    z-index: 1000;
    color: #f00;
    position: absolute;
    right: 3px;
    font-size: 1.5em;
    top: 3px;
    background-color: #fff;
    border-radius: 15px;
}

upload #uploadBorderBox p,
upload-attachment #uploadBorderBox p {
    margin: 0;
    top: 50%;
    position: absolute;
    margin-top: 15px;
    padding: 0px 20px;
    font-weight: 400;
    font-size: 0.8em;
    text-align: justify;
    color: #666;
}

upload p.cancel,
upload-attachment p.cancel {
    text-align: center;
    margin: 0;
    background: #f00;
    left: 50%;
    top: 50%;
    color: #fff;
    margin-left: -28px;
    border-radius: 8px;
    padding: 0px 7px;
    margin-top: 4px;
    z-index: 1000;
    position: absolute;
    cursor: pointer;
}

upload .material-icons.add,
upload-attachment .material-icons.add {
    font-size: 5em;
    color: #888;
    left: 50%;
    position: absolute;
    margin-left: -35px;
    top: 0.9vh;
}

upload #uploadBorderBox p.progress,
upload-attachment #uploadBorderBox p.progress {
    margin: 0;
    top: 50%;
    position: absolute;
    margin-top: -15px;
    padding: 0px 20px;
    font-weight: 400;
    font-size: 1.8em;
    color: #666;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

upload #uploadBorderBox p.progress,
upload-attachment #uploadBorderBox p.progress {
}

upload input.hide,
upload-attachment input.hide {
    display: none;
}

upload img,
upload-attachment img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 15px;
}

tab article {
    float: left;
    width: 100%;
    box-sizing: border-box;
}

.angular-ui-tree-drag,
.angular-ui-tree-placeholder,
.angular-ui-tree-handle {
    border-bottom: 1px dashed #ccc;
    margin: 2px 0px;
}

.angular-ui-tree-node .title {
    border-bottom: none;
    position: relative;
    margin-top: -2px;
}

.messages {
    margin-bottom: 20px;
    background: rgba(255, 100, 100, 0.2);
    border-radius: 10px;
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 5px;
}

.messages .message {
    font-weight: 500;
    padding: 3px 5px;
    float: left;
    width: 100%;
    box-sizing: border-box;
}

.messages .message:first-child {
    margin-top: 5px;
}

.messages .message:last-child {
    margin-bottom: 5px;
}

.modal.contractor,
.modal.product,
.modal.stock {
    display: none;
}

.modal.show {
    display: block;
}

.card {
    float: left;
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.card .body{
    padding: 10px;
}

.card .title {
    margin-bottom: 15px;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 400;
    color: #ccc;
    padding-top: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 5px;
}

.row {
    box-sizing: border-box;
}

::-webkit-input-placeholder {
    color: #aaa;
}

::-moz-placeholder {
    color: #aaa;
}

:-ms-input-placeholder {
    color: #aaa;
}

:-moz-placeholder {
    color: #aaa;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

a,
a:hover,
a:focus,
a:active,
.material-icons {
    color: #fff !important;
}

a:hover,
a:focus,
a:active,
.material-icons {
    color: #fff !important;
    font-weight: 400;
}

button {
    font-weight: 400;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff !important;
}

button:hover,
.material-icons.button:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: #fff !important;
}

#menu .row {
    margin-bottom: 15px;
    width: 100%;
}

.table.products .header .col {
    font-size: 0.9em;
    padding: 0px 2px;
    color: #aaa;
}

.material-icons {
    color: #aaa !important;
}

.material-icons:hover {
    color: #fff !important;
    opacity: 1;
}

.group {
    margin-bottom: 10px;
}

label {
    font-size: 0.85em;
    margin-left: 5px;
    width: 100%;
    float: left;
}

.value {
    font-size: 1.1em;
    min-width: 1px;
    min-height: 18px;
    width: 100%;
    box-sizing: border-box;
}

input[type=text],
input[type=password],
textarea,
option,
select {
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    box-sizing: border-box;
}

input[type=text]:hover,
input[type=password]:hover,
textarea:hover,
option:hover,
select:hover,
input[type=text]:focus,
input[type=password]:focus,
textarea:focus,
option:focus,
select:focus {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.panel {
    padding: 10px;
    border: 1px dashed #ccc;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

.wrapper {
    max-width: 1000px;
    margin: auto;
    display: block;
    position: relative;
}

ng-view {
    position: absolute;
    right: 0;
    box-sizing: border-box;
    width: 100%;
}

.hide {
    display: none !important;
}

.hide.show {
    display: block !important;
}

.filters.big {
    float: left;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding-bottom: 5px;
}

.filters.big .inputs {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding-left: 50px;
}

.filters.big .material-icons {
    float: left;
    box-sizing: border-box;
    font-size: 3em;
    position: absolute;
    top: 6px;
}

.filters.big .material-icons:hover {
    color: #aaa !important;
}

.filters.big input{
    background: rgba(255, 255, 255, 0.05) !important;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
}

.filters.big input:active,
.filters.big input:focus,
.filters.big input:hover {
    background: rgba(255, 255, 255, 0.2) !important;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

option{
    color: #000;
}

button.mini{
    font-size: 0.95em;
    padding: 3px 5px;
}