<div class="modal" style="z-index: {{modal.zIndex}}">
<div class="content">
    <div class="header">
        <h3>{{modal.title}}</h3><i ng-click="modal.close()" class="material-icons close">close</i>
    </div>
    <div class="body">
        <div class="form-group">
            <label>Nazwa kategorii</label>
            <input type="text" ng-model="data.name"/>
        </div>
    </div>
    <div class="footer">
        <button ng-click="modal.accept()" class="icon">Dodaj</button>
        <button ng-click="modal.close()" class="icon">Zamknij</button>
    </div>
</div>
</div>