<style>
    .zoom-in {
        float: left;
        position: absolute;
        margin-top: -2px;
        left: 20px;
        cursor: pointer;
    }

    .zoom-in:hover {
        opacity: 0.8;
    }

    .table .row, .table .header {
        padding: 5px 50px 5px 50px;
    }
</style>
<div class="container products">
    <div class="buttons">
        <a ng-href="/katalog/produkt/dodaj">
            <button class="icon"><i class="material-icons">add_circle_outline</i>Dodaj product</button>
        </a>
    </div>
    <div class="table" ng-controller="selectTableController">
        {{setSelectOptions('/catalog/product', 'name', 'products')}}
        <div ng-show="selects.length>0" class="box">
            <div class="header">Zaznaczone elementy</div>
            <div class="body">
                <div class="selects">
                    <div class="select" ng-repeat="select in selects">
                        {{select.name}}
                        <i data-nodrag="" class="material-icons"
                           ng-click="delSelect(select, products)">delete_forever</i>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="buttons">
                    <button class="small" ng-click="massPdf(selects)">Pobierz PDF</button>
                    <button class="small" ng-click="massXls(selects)">Pobierz XLS</button>
                    <button class="small danger" ng-click="massDelete(products, selects)">Usuń</button>
                </div>
            </div>
        </div>
        <div class="header">
            <input ng-show="products.length>0" type="checkbox" id="chbx" ng-click="checkAll(products)"><label ng-show="products.length>0" for="chbx" class="checkbox"></label>
            <div class="filters">
                <div class="col col-xs-2"><input ng-model-options="{ allowInvalid: true, debounce: 750 }" placeholder="SKU" type="text" ng-model="filters.sku" ng-change="filter()"></div>
                <div class="col col-xs-10"><input ng-model-options="{ allowInvalid: true, debounce: 750 }" placeholder="Nazwa produktu" type="text" ng-model="filters.name" ng-change="filter()"></div>
            </div>
            <!--<div class="container" ng-show="products.length>0">
                <div class="col col-xs-2">SKU</div>
                <div class="col col-xs-10">Nazwa produktu</div>
            </div>-->
        </div>
        <div ng-show="products.length==0" class="table-empty">
            <p>Brak danych w tabeli do wyświetlenia</p>
        </div>
        <div ng-class="{'selected': product.selected, 'deleted': product.deleted}" class="row"
             ng-repeat="product in products">
            <div class="head">
                <input type="checkbox" id="chbx{{product.id}}" ng-click="check(product)"><label for="chbx{{product.id}}"
                                                                                                class="checkbox"></label>
                <i class="material-icons zoom-in" ng-click="loadDetail('/catalog/product', products, product, 'product')">zoom_in</i>
                <div class="col col-xs-2">{{product.sku}}</div>
                <div class="col col-xs-10">{{product.name}}</div>
                <div class="buttons">
                    <a ng-href="/katalog/produkt/{{product.id}}"><i data-nodrag="" class="material-icons">mode_edit</i></a>
                    <i data-nodrag="" class="material-icons" ng-click="deleteRow(products, product)">delete_forever</i>
                </div>
            </div>
        </div>
        <fluentLoader ng-click="fluentLoad()" ng-show="products.length>0">
            <p>Pokaż więcej wyników</p>
        </fluentLoader>
    </div>
</div>