<style>
    .table .header input {
        left: 0;
    }
</style>
<div class="container files">
    <div class="table" ng-controller="selectTableController">
        {{setSelectOptions('/system/files', 'name', 'files')}}
        <div ng-show="selects.length>0" class="box">
            <div class="header">Zaznaczone elementy</div>
            <div class="body">
                <div class="selects">
                    <div class="select" ng-repeat="select in selects">
                        {{select.name}}
                        <i data-nodrag="" class="material-icons"
                           ng-click="delSelect(select, files)">delete_forever</i>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="buttons">
                    <button class="small">Pobierz PDF</button>
                    <button class="small" ng-click="massXls(selects)">Pobierz XLS</button>
                    <button class="small danger" ng-click="massDelete(files, selects)">Usuń</button>
                </div>
            </div>
        </div>
        <div class="header">
            <input ng-show="files.length>0" type="checkbox" id="chbx" ng-click="checkAll(files)"><label ng-show="files.length>0" for="chbx" class="checkbox"></label>
            <div class="filters">
                <div class="col col-xs-6"><input placeholder="Nazwa pliku" type="text" ng-model="filters.name" ng-change="filter()"></div>
                <div class="col col-xs-3"><input style="margin-left: -8px;" placeholder="Typ pliku" type="text" ng-model="filters.type" ng-change="filter()"></div>
                <div class="col col-xs-3"><input style="margin-left: 7px;" class="right" placeholder="Rozmiar pliku" type="text" ng-model="filters.size" ng-change="filter()"></div>
            </div>
            <!--<div class="container" ng-show="files.length>0">
                <div class="col col-xs-6">Nazwa pliku</div>
                <div class="col col-xs-3">Typ pliku</div>
                <div class="col col-xs-3">Rozmiar pliku</div>
            </div>-->
        </div>
        <div ng-class="{'selected': file.selected, 'deleted': file.deleted}" class="row" ng-repeat="file in files">
            <input type="checkbox" id="chbx{{file.id}}" ng-click="check(file)"><label for="chbx{{file.id}}"
                                                                                            class="checkbox"></label>
            <div class="col col-xs-6">{{file.name}}</div>
            <div class="col col-xs-3">{{file.type}}</div>
            <div class="col col-xs-3 right">{{formatSizeUnits(file.size)}}</div>
            <div class="buttons">
                <a target="_self" ng-href="{{file.url}}" download="{{file.name}}">
                    <i data-nodrag="" class="material-icons" ng-click="download(file)">cloud_download</i>
                </a>
                <i data-nodrag="" class="material-icons" ng-click="deleteRow(files, file)">delete_forever</i>
            </div>
        </div>
        <div ng-show="files.length==0" class="table-empty">
            <p>Brak danych w tabeli do wyświetlenia</p>
        </div>
        <fluentLoader ng-click="fluentLoad()">
            <p>Pokaż więcej wyników</p>
        </fluentLoader>
    </div>
</div>