body,
pre {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
}

body{
    padding: 25px 50px;
}

.row {
    float: left;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.element {
    float: left;
    width: 100%;
    margin-bottom: 25px;
    border-bottom: 1px solid #ccc;
}

.dataBlock {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 5px;
}

.method,
.name,
.url {
    float: left;
}

.method {
    width: 50px;
}

.name {
    float: left;
    width: 100%;
    font-weight: 400;
    margin-bottom: 5px;
}

.contentRow {
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-top: none;
}

.url {
    font-size: 0.95em;
}

pre {
    font-size: 0.95em;
    margin-top: 5px;
}

.title {
    font-weight: 400;
}