<article>
    <div class="row">
        <div class="col col-xxs-12">
            <div class="card">
                <div class="title">Opisy</div>
                <div class="col col-xxs-12">
                    <div class="form-group textarea">
                        <label>Skrócony opis</label>
                        <textarea ng-model="data.product.descriptionShort"></textarea>
                    </div>
                    <div class="form-group textarea">
                        <label>Opis</label>
                        <textarea ng-model="data.product.descriptionFull"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-bottom">
        <button class="sender icon" ng-click="data.send()">Zapisz</button>
    </div>
</article>