<article>
    <div class="row">
        <div class="col col-xs-4">
            <div class="card">
                <div class="title">Opcje produktu</div>
                <div class="form-group col col-xs-12 checkbox">
                    <input type="checkbox" ng-model="data.product.toSell"/><label>Product do sprzedaży</label>
                </div>
                <div class="form-group col col-xs-12 checkbox">
                    <input type="checkbox" ng-model="data.product.partial"/><label>Półproduct</label>
                </div>
            </div>
        </div>
        <div class="col col-xs-8">
            <div class="card">
                <div class="title">Nazwy/kody</div>
                <div class="form-group col col-xs-4">
                    <label ng-class="{'error': data.validation.sku&&!data.product.sku}">SKU</label>
                    <input type="text" ng-model="data.product.sku"
                           ng-class="{'error': data.validation.sku&&!data.product.sku}"/>
                </div>
                <div class="form-group col col-xs-8">
                    <label ng-class="{'error': data.validation.name&&!data.product.name}">Nazwa produktu</label>
                    <input type="text" ng-model="data.product.name"
                           ng-class="{'error': data.validation.name&&!data.product.name}"/>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-bottom">
        <button class="sender icon" ng-click="data.send()">Zapisz</button>
    </div>
</article>