<div class="container">
    <div class="row">
        <div class="product content">
            <form method="POST">
                <input type="hidden" name="action" value="edit"/>
                <input type="hidden" name="id" ng-model="contractor.sys_unique_id"/>
                <div class="box">
                    <div class="header">
                        <h3 class="title">Dane kontaktowe</h3>
                    </div>
                    <div class="body">
                        <div class="form-group col col-5">
                            <label>Symbol</label>
                            <input type="text" name="code" ng-model="data.contractor.code"/>
                        </div>
                        <div class="form-group col col-15">
                            <label>Nazwa</label>
                            <input type="text" name="name" ng-model="data.contractor.name"/>
                        </div>
                        <div class="form-group col col-5">
                            <label>Telefon</label>
                            <input type="text" name="phone" ng-model="data.contractor.phone"/>
                        </div>
                        <div class="form-group col col-5">
                            <label>Fax</label>
                            <input type="text" name="fax" ng-model="data.contractor.fax"/>
                        </div>
                        <div class="form-group col col-10">
                            <label>Mail</label>
                            <input type="text" name="mail" ng-model="data.contractor.mail"/>
                        </div>
                        <div class="form-group col col-8">
                            <label>NIP</label>
                            <input type="text" name="nip" ng-model="data.contractor.nip"/>
                        </div>
                        <div class="form-group col col-6 checkbox">
                            <input type="checkbox" ng-model="data.contractor.provider"/>
                            <label>Dostawca</label>
                        </div>
                        <div class="form-group col col-6 checkbox">
                            <input type="checkbox" ng-model="data.contractor.recipient"/>
                            <label>Odbiorca</label>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="header">
                        <h3 class="title">Dane adresowe</h3>
                    </div>
                    <div class="body">
                        <input type="hidden" name="address[id]" ng-model="data.address.id"/>
                        <div class="form-group col col-7">
                            <label>Imię</label>
                            <input type="text" name="address[firstname]" ng-model="data.address.firstname"/>
                        </div>
                        <div class="form-group col col-13">
                            <label>Nazwisko</label>
                            <input type="text" name="address[surname]" ng-model="data.address.surname"/>
                        </div>
                        <div class="form-group col col-5">
                            <label>Kod pocztowy</label>
                            <input type="text" name="address[postcode]" ng-model="data.address.postcode"/>
                        </div>
                        <div class="form-group col col-15">
                            <label>Miasto</label>
                            <input type="text" name="address[city]" ng-model="data.address.city"/>
                        </div>
                        <div class="form-group col col-12">
                            <label>Ulica</label>
                            <input type="text" name="address[street]" ng-model="data.address.street"/>
                        </div>
                        <div class="form-group col col-4">
                            <label>Numer</label>
                            <input type="text" name="address[number]" ng-model="data.address.number"/>
                        </div>
                        <div class="form-group col col-4">
                            <label>Lokal</label>
                            <input type="text" name="address[subnumber]" ng-model="data.address.subnumber"/>
                        </div>
                    </div>
                </div>
                <div class="form-group col col-20">
                    <button type="submit" class="button-lg" ng-click="send()">Zapisz</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--<script>
    $('input[type=text]').keyup(function () {
        $('button[type=submit]').addClass('button-primary');
    });
</script>-->