<div class="container">
    <div class="row">
        <div class="production-workers content">
            {include file=$productionInfo}
            <div class="buttons">
                <button name="addWorker">Dodaj pracownika</button>
            </div>
            <div class="filters" ng-class="{'active': filters}">
                <div class="header">
                    <h3 class="title">
                        <i class="material-icons active right">keyboard_arrow_right</i>
                        <i class="material-icons down">keyboard_arrow_down</i>
                        Filtry
                    </h3>
                </div>
                <form method="POST">
                    <div class="body">
                        <div class="form-group col col-20">
                            <label>Nazwa</label>
                            <input type="text" name="name" ng-model="data.filter.name"/>
                        </div>
                        <input type="hidden" name="action" value="filter"/>
                    </div>
                    <div class="footer">
                        <button type="submit" ng-click="filter()">Filtruj</button>
                    </div>
                </form>
            </div>
            {foreach $workers item=worker}
            <div class="table-row no-padding">
                <div class="title col col-15">{$worker.name}</div>
                <div class="title col col-3 text-right">{$worker.hours} {$currency}</div>
                <div class="action">
                    <form method="POST" name="delete">
                        <input type="hidden" name="action" value="delete"/>
                        <input type="hidden" name="id" value="{$worker.sys_unique_id}"/>
                        <button type="submit" class="button-danger">Usuń</button>
                    </form>
                </div>
            </div>
            {/foreach}
        </div>
    </div>
</div>

{include file=$deleteDialog}

<div class="dialog" id="addWorkerDialog">
    <div class="container">
        <div class="header">
            <div class="form-group col-10">
                <input type="text" name="searchItems" placeholder="Wprowadź tekst"/>
            </div>
        </div>
        <div class="body">
            <div id="workers"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        modal('#addWorkerDialog');
        var loadWorkers = function (searchString) {
            $.ajax({
                url: "/api/workers",
                type: 'POST',
                data: {
                    search: searchString
                },
            }).done(function (data) {
                workersCache = $.parseJSON(data);
                $('#addWorkerDialog').addClass('visible');
                var workers = '';
                $(workersCache).each(function () {
                    workers += '<div class="table-row" data-id="' + this.id + '">' +
                        '    <div class="title col col-15">' + this.name + '</div>' +
                        '</div>';
                });
                if (workers == '') {
                    workers = '<div class="no-result">Nic nie znaleziono</div>';
                }
                $('#workers').html(workers);
                $('#workers').find('.table-row').click(function () {
                    var acticveWorker = $(this).data('id');
                    $.ajax({
                        url: "/produkcja/{$id}/pracownicy",
                        type: 'POST',
                        data: {
                            action: 'add',
                            productionId: '{$id}',
                            workerId: acticveWorker,
                        },
                    }).done(function (data) {
                        var data = $.parseJSON(data);
                        if (data) {
                            $('#addWorkerDialog').removeClass('visible');
                            window.location.reload();
                        }
                    });
                });
            });
        }
        $('[name=addWorker]').click(function () {
            loadWorkers();
        });
    });
</script>