<div class="container">
    <div class="row">
        <div class="production-day content">
            {include file=$productionInfo}
            <form method="POST">
                <div class="box">
                    <div class="header">
                        <h3 class="title">Dane podstawowe</h3>
                    </div>
                    <div class="body">
                        <div class="form-group col col-5">
                            <label>Podsumowanie za dziań</label>
                            <input type="text" name="date" value="{$date}"/>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="action" value="add"/>
                <input type="hidden" name="id" value="{$id}"/>
                <div class="table-row header no-padding">
                    <div class="col col-15">Nazwa pracownika</div>
                    <div class="col col-5">Przepracował w godzinach</div>
                </div>
                {foreach $workers item=worker}
                <div class="table-row">
                    <div class="title col col-15">{$worker.name}</div>
                    <div class="form-group col col-5">
                        <input type="text" name="day[{$worker.sys_unique_id}][hours]" value="{$worker.hours}"/>
                    </div>
                </div>
                {/foreach}
                <div class="form-group col col-20">
                    <button type="submit" class="button-lg">Zapisz</button>
                </div>
            </form>
        </div>
    </div>
</div>

{include file=$deleteDialog}

<div class="dialog" id="addWorkerDialog">
    <div class="container">
        <div class="header">
            <div class="form-group col-10">
                <input type="text" name="searchItems" placeholder="Wprowadź tekst"/>
            </div>
        </div>
        <div class="body">
            <div id="workers"></div>
        </div>
    </div>
</div>