<fluentLoader></fluentLoader>
<div ng-if="data.editPrivilage" class="buttons">
    <a href="/produkt/dodaj">
        <button type="submit" class="button-add"><i class="material-icons">add_circle_outline</i>Produkt
        </button>
    </a>
</div>
<div class="filters" ng-class="{'active': filters}">
    <form method="POST">
        <div class="row">
            <div class="form-group col col-4">
                <label>SKU</label>
                <input type="text" ng-model="data.filter.sku"/>
            </div>
            <div class="form-group col col-10">
                <label>Nazwa</label>
                <input type="text" ng-model="data.filter.name"/>
            </div>
            <div class="form-group col col-3 checkbox">
                <input type="checkbox" ng-model="data.filter.intermediate"/>
                <label>Połprodukty</label>
            </div>
            <div class="form-group col col-3 checkbox">
                <input type="checkbox" ng-model="data.filter.own"/>
                <label>Wyrób własny</label>
            </div>
        </div>
        <div class="form-group col col-3">
            <label>Cena od</label>
            <input type="text" ng-model="data.filter.price_from"/>
        </div>
        <div class="form-group col col-3">
            <label>Cena do</label>
            <input type="text" ng-model="data.filter.price_to"/>
        </div>
        <div class="form-group col col-7">
            <label>Dostawca</label>
            <input type="text" ng-model="data.filter.provider"/>
        </div>
        <div class="form-group col col-7">
            <label>Marka</label>
            <input type="text" ng-model="data.filter.mark"/>
        </div>
        <input type="hidden" name="action" value="filter"/>
        <button type="submit" ng-click="filter()">Filtruj</button>
    </form>
</div>
<div class="container">
    <div class="row">
        <div class="products content">
            <div ng-repeat="product in data.products" class="table-row">
                <div class="image col col-3 no-padding">
                    <img class="responsive" src="{{product.image}}" data-img="{{product.big_image}}"></img>
                </div>
                <div class="col col-13 no-padding">
                    <div class="sku col col-5">{{product.sku}}</div>
                    <div class="title col col-15">{{product.name}}</div>
                    <div class="description_short col col-20"><p>{{product.description_short}}</p></div>
                    <div class="mail col col-20">Ostatnio edytował: <strong>{{product.mail}}</strong></div>
                    <div class="auction auction{$product.sys_unique_id} col col-20 no-padding">
                        <div ng-repeat="auction in product.auction">
                            <div class="col col-3 no-padding">{{auction.auction}}</div>
                            <div class="col col-17 no-padding">Item ID: {{auction.outerid}}</div>
                        </div>
                    </div>
                </div>
                <div class="price col col-4 no-padding">
                    <div class="net text-right">{{product.net}} {{data.currency}}</div>
                    <div class="tax text-right">{{product.tax}} {{data.currency}}</div>
                    <div class="gross text-right">{{product.gross}} {{data.currency}}</div>
                </div>
                <div class="action icons">
                    <a href="/produkt/{{product.sys_unique_id}}/szczegoly">
                        <button type="button"><i class="material-icons">zoom_in</i></button>
                    </a>
                    <a ng-if="data.editPrivilage" href="/produkt/{{product.sys_unique_id}}/edytuj">
                        <button type="submit"><i class="material-icons">mode_edit</i></button>
                    </a>
                    <button type="submit" class="button-danger" ng-click="del(product, data.products)"><i class="material-icons">delete_forever</i></button>
                </div>
            </div>
        </div>
    </div>
</div>