<div id="rows">
    {foreach $element item=el}
    <div class="table-row no-padding records">
        <div class="col col-1"><i class="material-icons" name="addCategory" data-id="{$el.sys_unique_id}">add_circle_outline</i></div>
        <div class="col col-18">{$el.name}</div>
        <div class="col col-1 text-right"><i class="material-icons delete" name="deleteCategory" data-id="{$el.sys_unique_id}">delete</i></div>
    </div>
    <ul id="{$el.sys_unique_id}">{if $el.element}{include file=$productCatalogTree element=$el.element}{/if}</ul>
    {/foreach}
</div>