<div class="container">
    <div class="row">
        <div class="product-detail content">
            <div class="row">
            <div class="col col-14">
                <p ng-if="data.product.provider">Producent: {{data.product.provider}}</p>
                <h2 class="title"><span>{{data.product.sku}}</span> {{data.product.name}}</h2>
                <p ng-if="data.product.mark">Marka: {{data.product.mark}}</p>
            </div>
            <div class="form-value col col-3 checkbox margin-top">
                <input type="checkbox" name="intermediate" ng-model="data.product.intermediate" disabled/>
                <label>Połprodukt</label>
            </div>
            <div class="form-value col col-3 checkbox margin-top">
                <input type="checkbox" name="own" value="true" {if $product.own}checked{/if} disabled/>
                <label>Wyrób własny</label>
            </div>
            </div>
            <div class="prices col col-20">
                <div class="form-value col col-4">
                    <label>Netto</label>
                    <div class="value">{{data.product.net}} {{data.currency}}</div>
                </div>
                <div class="form-value col col-4">
                    <label>VAT</label>
                    <div class="value">{{data.product.tax}}</div>
                </div>
                <div class="form-value col col-4">
                    <label>Brutto</label>
                    <div class="value">{{data.product.gross}} {{data.currency}}</div>
                </div>
            </div>
            <div id="images">
                <div ng-repeat="image in data.product.images" class="image">
                    <img src="{{image.src}}" data-img="{{image.big_image}}"/>
                </div>
            </div>
            <div ng-if="data.description_short" class="form-value col col-20">
                <label>Skrócony opis</label>
                <div class="value description_short">{{data.description_short}}</div>
            </div>
            <div ng-if="data.description" class="form-value col col-20">
                <label>Opis</label>
                <div class="value description">{{data.product.description}}</div>
            </div>
        </div>
    </div>
</div>