<div class="container">
    <div class="row">
        <div class="product content">
            <form method="POST" enctype="multipart/form-data">
                <input type="hidden" name="action" value="edit"/>
                <input type="hidden" ng-model="data.product.sys_unique_id"/>
                <div class="row no-padding">
                    <div class="padding col col-10">
                        <div class="box">
                            <div class="header">
                                <h3 class="title">Dane podstawowe</h3>
                            </div>
                            <div class="body">
                                <div class="form-group col col-5">
                                    <label>SKU</label>
                                    <input type="text" name="sku" ng-model="data.product.sku"/>
                                </div>
                                <div class="form-group col col-15">
                                    <label>Nazwa</label>
                                    <input type="text" name="name" ng-model="data.product.name"/>
                                </div>
                                <div class="form-group col col-10 checkbox">
                                    <input type="checkbox" ng-model="data.product.intermediate"/>
                                    <label>Połprodukt</label>
                                </div>
                                <div class="form-group col col-10 checkbox">
                                    <input type="checkbox" ng-model="data.product.own"/>
                                    <label>Wyrób własny</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="padding col col-10">
                        <div class="box">
                            <div class="header">
                                <h3 class="title">Ceny</h3>
                            </div>
                            <div class="body">
                                <div class="form-group col col-8">
                                    <label>Netto</label>
                                    <input type="text" name="net" ng-model="data.product.net"/>
                                </div>
                                <div class="form-group col col-4">
                                    <label>VAT</label>
                                    <input type="text" name="tax" ng-model="data.product.tax"/>
                                </div>
                                <div class="form-group col col-8">
                                    <label>Brutto</label>
                                    <input type="text" name="gross" ng-model="data.product.gross"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="header">
                        <h3 class="title">Zdjęcia</h3>
                    </div>
                    <div class="body">
                        <div id="images">
                            <div ng-repeat="image in data.product.images" class="image">
                                <img src="{{data.image.src}}" data-img="{{data.image.big_image}}"/>
                                <i class="material-icons delete" data-id="{{data.image.id}}">delete_forever</i>
                            </div>
                            <div class="image last">
                                <div class="add last">
                                    <i class="material-icons">cloud_upload</i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col col-20" style="display: none;">
                            <label>Zdjęcie</label>
                            <input type="file" name="imageUpload"/>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="header">
                        <h3 class="title">Opisy</h3>
                    </div>
                    <div class="body">
                        <div class="form-group col col-20">
                            <label>Skrócony opis</label>
                            <textarea class="description_short"
                                      name="description_short" ng-model="data.product.description_short"></textarea>
                        </div>
                        <div class="form-group col col-20 none-outline">
                            <label>Opis</label>
                            <textarea id="editor" class="description"
                                      name="description" ng-model="data.product.description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="header">
                        <h3 class="title">Dodatkowe informacje</h3>
                    </div>
                    <div class="body">
                        <div class="form-group col col-10">
                            <label>Dostawca</label>
                            <input type="text" name="provider" ng-model="data.product.provider"/>
                        </div>
                        <div class="form-group col col-10">
                            <label>Marka</label>
                            <input type="text" name="mark" ng-model="data.product.mark"/>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="header">
                        <h3 class="title">Kategorie</h3>
                    </div>
                    <div class="body" id="catalog">
                        {foreach $tree.element item=el}
                        <div id="rows">
                            <div class="table-row no-padding records">
                                <div class="col col-1"><input type="checkbox" data-id="{$el.sys_unique_id}" {if $el.exists}checked{/if}/></div>
                                <div class="col col-18">{$el.name}</div>
                            </div>
                            <ul id="{$el.sys_unique_id}">{if $el.element}{include file=$productCatalogTreeSelect element=$el.element}{/if}
                            </ul>
                        </div>
                        {/foreach}
                    </div>
                </div>
                <div class="form-group col col-20">
                    <button type="submit" class="button-save" ng-click="send()"><i class="material-icons">save</i>Zapisz</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--<script>
    $(document).ready(function () {
        var images = [];

        if ($('[name=tax]').val() == '') {
            $('[name=tax]').val('23%');
        }
        var calcNet = function () {
            var net = parseFloat($('[name=net]').val());
            var tax = parseFloat($('[name=tax]').val());
            var gross = (net * (100 + tax)) / 100;
            $('[name=gross]').val(gross.toFixed(2));
        }
        var calcGross = function () {
            var gross = parseFloat($('[name=gross]').val());
            var tax = parseFloat($('[name=tax]').val());
            var net = (gross / (100 + tax)) * 100;
            $('[name=net]').val(net.toFixed(2));
        }
        $('[name=net], [name=tax]').keyup(function () {
            calcNet();
        });
        $('[name=gross]').keyup(function () {
            calcGross();
        });

        $('input[type=text]').keyup(function () {
            $('button[type=submit]').addClass('button-primary');
        });

        function readURL(input, callback) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    callback(e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        var prepareDelete = function (element) {
            $(element).find('.delete').click(function () {
                var del = $(this);
                $.ajax({
                    url: '/api/product/file/delete',
                    method: 'POST',
                    data: {
                        id: del.data('id'),
                    }
                }).done(function (data) {
                    del.parents('.image').eq(0).remove();
                    var _index = 0;
                    var _i = null;
                    $(images).each(function () {
                        if ($(this).find('.delete').data('index') == del.data('index')) {
                            _i = index;
                        }
                        _index++;
                    });
                    if (_i !== null) {
                        images.splice(_i, 1);
                    }
                });
            });
        }

        var index = 1;

        $('[name=imageUpload]').change(function () {
            var image = $(this).clone();
            image.attr('name', 'image[]');
            image.data('index', index);
            images.push(image);
            var file = $(this)[0].files[0];

            readURL(this, function (data) {
                var image = $('<div class="image">' +
                    '<img src="' + data + '"/>' +
                    '<i class="material-icons delete" data-id="{$image.id}" data-index="' + index + '">delete_forever</i>' +
                    '</div>');
                image.insertBefore($('#images .image.last'));
                prepareDelete(image);
                $('[name=imageUpload]').val('');
            });
            index++;
        });

        var catalogIds = [];
        $('form').submit(function () {
            var form = $(this);
            $(images).each(function () {
                form.append(this);
                $('[name=imageUpload]').remove();
            });
            $('#catalog').find('input[type=checkbox]').each(function(){
                if($(this).is(':checked')){
                    catalogIds.push($(this).data('id'));
                }
            });
            var i = 0;
            $(catalogIds).each(function () {
                form.append($('<input type="hidden" name="catalogIds['+this+']"/>'));
            });
        });

        prepareDelete($('form'));

        $('#images .add').click(function () {
            $('[name=imageUpload]').trigger('click');
        });

        new nicEditor({
            fullPanel: true,
            iconsPath: '/Public/Img/nicEditorIcons.gif',
        }).panelInstance('editor');

        $('#catalog').find('input[type=checkbox]').click(function(){
            catalogIds = [];
            $('#catalog').find('input[type=checkbox]').each(function(){
                if($(this).is(':checked')){
                    catalogIds.push($(this).data('id'));
                }
            });
        });
        $('#catalog').find('input[type=checkbox]').each(function(){
            if($(this).is(':checked')){
                catalogIds.push($(this).data('id'));
            }
        });
    });
</script>
-->