.row {
	margin-left: -10px;
	margin-right: -10px;
}
.col {
	float: left;
	padding: 0px 10px;
	box-sizing: border-box;
	min-height: 1px;
}
.table .col-1 {
	width: 8.3333333333333%;
}
.table .col-2 {
	width: 16.666666666667%;
}
.table .col-3 {
	width: 25%;
}
.table .col-4 {
	width: 33.333333333333%;
}
.table .col-5 {
	width: 41.666666666667%;
}
.table .col-6 {
	width: 50%;
}
.table .col-7 {
	width: 58.333333333333%;
}
.table .col-8 {
	width: 66.666666666667%;
}
.table .col-9 {
	width: 75%;
}
.table .col-10 {
	width: 83.333333333333%;
}
.table .col-11 {
	width: 91.666666666667%;
}
.table .col-12 {
	width: 100%;
}
.col-1 {
	left: 0%;
	width: 8.3333333333333%;
}
.col-2 {
	left: 8.33333%;
	width: 16.666666666667%;
}
.col-3 {
	left: 16.66667%;
	width: 25%;
}
.col-4 {
	left: 25.00000%;
	width: 33.333333333333%;
}
.col-5 {
	left: 33.33333%;
	width: 41.666666666667%;
}
.col-6 {
	left: 41.66667%;
	width: 50%;
}
.col-7 {
	left: 50.00000%;
	width: 58.333333333333%;
}
.col-8 {
	left: 58.33333%;
	width: 66.666666666667%;
}
.col-9 {
	left: 66.66667%;
	width: 75%;
}
.col-10 {
	left: 75.00000%;
	width: 83.333333333333%;
}
.col-11 {
	left: 83.33333%;
	width: 91.666666666667%;
}
.col-12 {
	left: 91.66667%;
	width: 100%;
}
