.row {
	margin-left: -10px;
	margin-right: -10px;
}
.col {
	float: left;
	padding: 0px 10px;
	box-sizing: border-box;
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px;
}
.table .col-xs-1 {
	width: 8.3333333333333%;
}
.table .col-xs-2 {
	width: 16.666666666667%;
}
.table .col-xs-3 {
	width: 25%;
}
.table .col-xs-4 {
	width: 33.333333333333%;
}
.table .col-xs-5 {
	width: 41.666666666667%;
}
.table .col-xs-6 {
	width: 50%;
}
.table .col-xs-7 {
	width: 58.333333333333%;
}
.table .col-xs-8 {
	width: 66.666666666667%;
}
.table .col-xs-9 {
	width: 75%;
}
.table .col-xs-10 {
	width: 83.333333333333%;
}
.table .col-xs-11 {
	width: 91.666666666667%;
}
.table .col-xs-12 {
	width: 100%;
}
.col-xs-1 {
	width: 8.3333333333333%;
}
.col-xs-2 {
	width: 16.666666666667%;
}
.col-xs-3 {
	width: 25%;
}
.col-xs-4 {
	width: 33.333333333333%;
}
.col-xs-5 {
	width: 41.666666666667%;
}
.col-xs-6 {
	width: 50%;
}
.col-xs-7 {
	width: 58.333333333333%;
}
.col-xs-8 {
	width: 66.666666666667%;
}
.col-xs-9 {
	width: 75%;
}
.col-xs-10 {
	width: 83.333333333333%;
}
.col-xs-11 {
	width: 91.666666666667%;
}
.col-xs-12 {
	width: 100%;
}
