header,
.header {
    padding: 25px 25px 0px 25px;
    box-sizing: border-box;
}

header {
    float: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 8px 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
}

header i,
.header i {
    float: left;
    cursor: pointer;
    padding: 10px;
    color: #999;
    font-size: 2.25em !important;
    font-weight: 100 !important;
}

header i:hover,
.header i:hover {
    color: #555;
}

header i.right,
.header i.right {
    float: right !important;
}

#menu {
    background-color: rgba(255, 255, 255, 0.75);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 10000;
    box-sizing: border-box;
}

#menu .menu-body {
    position: absolute;
    border: 1px solid #aaa;
    background: rgba(255, 255, 255, 0.75);
    left: 50px;
    right: 50px;
    box-sizing: border-box;
    top: 50px;
    box-shadow: 5px 5px 5px #ddd;
}

#menu .menu-body .material-icons {
    position: absolute;
    right: 5px;
    top: 5px;
}

#menu .links-group .primary {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 1.15em;
    float: left;
    color: #555;
}

#menu .links-group .sub {
    float: left;
    width: 100%;
    font-weight: 300;
    margin-top: 3px;
    box-sizing: border-box;
}

#menu .links-group .sub:hover {
    font-weight: 400;
}

#menu .links-group {
    float: left;
    padding: 0px 10px;
}

#menu .container {
    padding-bottom: 25px;
    padding-top: 25px;
}

header .button {
    padding: 15px !important;
    border-left: 1px solid #ddd;
}

header .button:first-child {
    border: none;
    border-right: 1px solid #ddd;
}

header .button.right {
    margin-right: -1px;
}

header h1 {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 1.15em;
}

header p {
    margin: 0px;
    padding: 0px;
    color: #888;
    font-size: 0.65em;
}

header .pageTitle {
    float: left;
    margin: 10px 0;
    font-size: 1.35em;
    margin-left: 15px;
}

header {
    left: 0 !important;
    position: absolute !important;
    right: 0 !important;
    background: #fff !important;
    z-index: 10;
}

header {
    padding: 0 !important;
    z-index: 100;
}

@media all and (min-width: 900px) {
    header .button.menu {
        display: none;
    }

    #menu .menu-body {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    #menu {
        display: block !important;
        position: fixed;
        width: 200px;
        top: 62px;
        bottom: 0;
        height: auto;
        z-index: 10;
    }

    #menu .links-group {
        width: 100%;
        margin-bottom: 10px;
    }

    #menu .row {
        margin-bottom: 0 !important;
    }

    #menu .links-group .sub {
        margin-left: 10px;
        font-size: 1.15em;
        font-weight: 400 !important;
    }

    #menu .links-group {
        font-size: 0.9em;
        font-weight: 500;
        color: #888;
    }
    #menu .menu-body .material-icons{
        display: none;
    }
    .container{
        padding-left: 225px !important;
    }
    #menu .container{
        padding-left: 25px !important;
    }
    #menu .header{
        display: none;
    }
    #menu .links-group .primary{
        font-size: 1em;
        color: #888;
    }
    .fixed-bottom{
        padding-left: 200px;
    }
}