header,
.header {
    padding: 25px 25px 0px 25px;
    box-sizing: border-box;
}

header {
    float: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding: 8px 15px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
}

header i,
.header i {
    float: left;
    cursor: pointer;
    padding: 10px;
    color: #999;
    font-size: 2.25em !important;
    font-weight: 100 !important;
}

header i:hover,
.header i:hover {
    color: #555;
}

header i.right,
.header i.right {
    float: right !important;
}

#menu {
    position: fixed;
    left: 0;
    top: 0px;
    height: 100%;
    z-index: 90;
    box-sizing: border-box;
    right: 0px;
    width: 200px;
}

#menu .menu-body {
    position: fixed;
    box-sizing: border-box;
    top: 60px;
    border-right: 1px solid #ccc;
    width: 200px;
    bottom: 0px;
    background: rgba(93, 83, 130, 0.9);
}

#menu .menu-body .material-icons {
    position: absolute;
    right: 5px;
    top: 5px;
}

#menu .links-group .primary {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 1em;
    float: left;
    color: #aaa;
}

#menu .links-group .sub {
    float: left;
    width: 100%;
    margin-top: 3px;
    box-sizing: border-box;
    margin-left: 10px;
    font-size: 1.15em;
    font-weight: 400 !important;
}

#menu .links-group .sub:hover {
    font-weight: 400;
}

#menu .links-group {
    float: left;
    padding: 0px 10px;
    font-size: 0.9em;
    font-weight: 500;
    color: #888;
    width: 100%;
    margin-bottom: 10px;
}

#menu .container {
    padding-bottom: 25px;
    padding-top: 35px;
}

header .button {
    padding: 15px !important;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

header .button:first-child {
    border: none;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

header .button.right {
    margin-right: -1px;
}

header h1 {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 1.15em;
}

header p {
    margin: 0px;
    padding: 0px;
    color: #ccc;
    font-size: 0.65em;
}

header .pageTitle {
    float: left;
    margin: 10px 0;
    font-size: 1.35em;
    margin-left: 15px;
}

header {
    left: 0 !important;
    position: absolute !important;
    right: 0 !important;
    background: rgba(93, 83, 130, 0.8) !important;
    z-index: 10;
}

header {
    padding: 0 !important;
    z-index: 100;
}

header.not-logged{
    background: transparent !important;
    border: none;
    box-shadow: none;
}

header.not-logged .container{
    padding: 25px 50px;
    text-align: center;
}

header.not-logged .container a{
    margin: 0px 10px;
    padding: 5px 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

header.not-logged .container a:hover,
header.not-logged .container a:active,
header.not-logged .container a:focus{
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.1);
}

@media all and (min-width: 900px) {
    header .button.menu {
        display: none;
    }

    #menu .menu-body {
        position: relative;
        float: left;
        left: 0;
        right: 0;
        border: none;
        background: transparent;
    }

    #menu {
        display: block !important;
        position: relative;
        width: 200px;
        z-index: 10;
        float: left;
        background: transparent;
    }

    #menu .row {
        margin-bottom: 0 !important;
    }

    #menu .menu-body .material-icons{
        display: none;
    }
    .container{
        padding-left: 225px !important;
    }
    #menu .container{
        padding-left: 25px !important;
    }
    #menu .header{
        display: none;
    }
}