tabs {
    display: inline-block;
    margin-bottom: 25px;
    float: left;
    width: 100%;
    box-sizing: border-box;
}

tabs .tab {
    float: left;
    border-bottom: 3px solid rgba(64, 128, 256, 0.2);
    border-radius: 0px;
    padding: 3px 8px;
    margin: 0px 3px;
    border-radius: 0px;
    background-color: #fff;
    cursor: pointer;
    color: #68c;
}

tabs .tab.active,
tabs .tab:hover:not(.disable){
    background: transparent;
    border: none;
    color: #333;
    border-bottom: 3px solid rgba(64, 128, 256, 0.8);
    border-radius: 0px;
    font-weight: 400;
    color: #68c;
}

tabs::before {
    content: "Wybierz kartę";
    float: left;
    width: 100%;
    margin-left: 10px;
    font-size: 0.85em;
    margin-bottom: 2px;
}

tab.hide{
    display: none;
}

tabs .buttons{
    margin-bottom: 0;
    float: left;
    width: 100%;
}

tabs tab.disable{
    color: #ccc;
    cursor: default;
}

tabs tab{
    margin-top: 25px;
    float: left;
    width: 100%;
    box-sizing: border-box;
}

tabs .buttons tab{
    width: auto;
}