tabs {
    display: inline-block;
    margin-bottom: 25px;
    float: left;
    width: 100%;
    box-sizing: border-box;
}

tabs .tab {
    float: left;
    border: 1px solid #ccc;
    border-radius: 0px;
    padding: 5px 10px;
    margin: 0px 3px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    color: #68c;
}

tabs .tab.active,
tabs .tab:hover:not(.disable) {
    background: #68c;
    border: none;
    color: #333;
    border: 1px solid #68c;
    border-radius: 5px;
    font-weight: 400;
    color: #fff;
}

tabs::before {
    content: "Wybierz kartę";
    float: left;
    width: 100%;
    margin-left: 10px;
    font-size: 0.85em;
    margin-bottom: 2px;
}

tab.hide {
    display: none;
}

tabs .buttons {
    margin-bottom: 0;
    float: left;
    width: 100%;
}

tabs tab.disable {
    color: #ccc;
    cursor: default;
    border-color: #ddd;
}

tabs tab {
    margin-top: 25px;
    float: left;
    width: 100%;
    box-sizing: border-box;
}

tabs .buttons tab {
    width: auto;
}