<div class="container">
    <div class="row">
        <div class="workers content">
            <div ng-if="data.editPrivilage" class="buttons">
                <a href="/pracownik/dodaj"><button type="submit" class="button-add"><i class="material-icons">add_circle_outline</i>Pracownika</button></a>
            </div>
            <div class="filters" ng-class="{'active': filters}">
                <div class="header">
                    <h3 class="title">
                        <i class="material-icons active right">keyboard_arrow_right</i>
                        <i class="material-icons down">keyboard_arrow_down</i>
                        Filtry
                    </h3>
                </div>
                <form method="POST">
                    <div class="body">
                        <div class="form-group col col-20">
                            <label>Nazwa</label>
                            <input type="text" name="name" ng-model="data.filter.name"/>
                        </div>
                        <input type="hidden" name="action" value="filter"/>
                    </div>
                    <div class="footer">
                        <button type="submit" ng-click="filter()">Filtruj</button>
                    </div>
                </form>
            </div>
            <div ng-if="data.workers.length>0" class="table-row header no-padding">
                <div class="col col-5">Nazwa pracownika</div>
                <div class="col col-5">Stanowisko</div>
                <div class="col col-5 text-right">Wynagrodzenie na h</div>
            </div>
            <div ng-repeat="worker in data.workers" class="table-row no-padding">
                <div class="col col-5">{{worker.name}}</div>
                <div class="col col-5">{{worker.occupation}}</div>
                <div class="col col-5 text-right">{{worker.sollary}} {{data.currency}}</div>
                <div class="action">
                    <a ng-if="data.editPrivilage" href="/pracownik/{$worker.sys_unique_id}/edytuj"><button type="submit"><i class="material-icons">mode_edit</i></button></a>
                    <form ng-if="data.deletePrivilage" method="POST" name="delete">
                        <input type="hidden" name="action" value="delete"/>
                        <input type="hidden" name="id" value="{$worker.sys_unique_id}"/>
                        <button type="submit" class="button-danger"><i class="material-icons">delete_forever</i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{include file=$deleteDialog}