<div style="margin: 25px 75px; padding: 25px; border: 1px solid #ccc;">
    <h1 style="margin: 0px; padding: 0px;">Witaj w serwisie Megazin</h1>
    <p>Z Megazin z łatwością będziesz zarządzał produkcją.</p>
    <div>Twoje hasło do serwisu to <strong>{$password}</strong></div>
    <div style="margin-top: 10px;">Aby aktywować konto kliknij w link <a href="{$activate}" style="text-decoration: none;">Aktywuj</a></div>
    <div style="margin-top: 10px;">Aby usunąć konto kliknij w link <a href="{$delete}" style="text-decoration: none;">Usuń</a></div>
    {include file=$footerFile}
</div>
